<ul id="tree" class="treeview">
<li data="vaktsiny_i_immunologicheskie_sredstva" class="expandable"><div class="hitarea expandable-hitarea"></div>
	<span class="">ВАКЦИНЫ И ИММУНОЛОГИЧЕСКИЕ СРЕДСТВА</span>
	<ul style="display: none;">	<li data="anatoksiny">
		</li>
		<li data="bakteriofagi">
		</li>
		<li data="vaktsiny" class="expandable"><div class="hitarea expandable-hitarea"></div>
			<span>Вакцины</span>
			<ul style="display: none;">	<li data="vaktsiny_dlia_profilaktiki_bolezney_koshek">
					<i>Вакцины для профилактики болезней кошек</i>
					<b>4</b>
				</li>
				<li data="vaktsiny_dlia_profilaktiki_bolezney_krolikov_i_pushnyh_zverey">
					<i>Вакцины для профилактики болезней кроликов и пушных зверей</i>
					<b>1</b>
				</li>
				<li data="vaktsiny_dlia_profilaktiki_bolezney_krupnogo_rogatogo_skota__ovets_i_koz">
					<i>Вакцины для профилактики болезней крупного рогатого скота, овец и коз</i>
					<b>13</b>
				</li>
				<li data="vaktsiny_dlia_profilaktiki_bolezney_loshadey">
				</li>
				<li data="vaktsiny_dlia_profilaktiki_bolezney_ptits">
					<i>Вакцины для профилактики болезней птиц</i>
					<b>18</b>
				</li>
				<li data="vaktsiny_dlia_profilaktiki_bolezney_sviney">
					<i>Вакцины для профилактики болезней свиней</i>
					<b>14</b>
				</li>
				<li data="vaktsiny_dlia_profilaktiki_bolezney_sobak" class="last">
					<i>Вакцины для профилактики болезней собак</i>
					<b>5</b>
				</li>
			</ul>
		</li>
		<li data="immunoglobuliny">
		</li>
		<li data="immunostimuliruyuschie_preparaty" class="expandable"><div class="hitarea expandable-hitarea"></div>
			<span>Иммуностимулирующие препараты</span>
			<ul style="display: none;">	<li data="gomeopaticheskie_preparaty">
					<i>Гомеопатические препараты</i>
					<b>5</b>
				</li>
				<li data="immunoprobiotiki">
					<i>Иммунопробиотики</i>
					<b>5</b>
				</li>
				<li data="induktory_sinteza_interferonov" class="expandable"><div class="hitarea expandable-hitarea"></div>
					<span>Индукторы синтеза интерферонов</span>
					<ul style="display: none;">	<li data="dlia_mestnogo_primeneniia">
							<i>для местного применения</i>
							<b>1</b>
						</li>
						<li data="dlia_naruzhnogo_primeneniia" class="last">
							<i>для наружного применения</i>
							<b>1</b>
						</li>
					</ul>
				</li>
				<li data="interferony">
					<i>Интерфероны</i>
					<b>3</b>
				</li>
				<li data="preparaty_bakterialnogo_proishozhdeniia">
					<i>Препараты бактериального происхождения</i>
					<b>2</b>
				</li>
				<li data="fitopreparaty">
					<i>Фитопрепараты</i>
					<b>3</b>
				</li>
				<li data="tsitokiny" class="last">
					<i>Цитокины</i>
					<b>7</b>
				</li>
			</ul>
		</li>
		<li data="preparaty_dlia_immunologicheskoy_kastratsii">
			<i>Препараты для иммунологической кастрации</i>
			<b>1</b>
		</li>
		<li data="syvorotki" class="last">
		</li>
	</ul>
</li>
<li data="gomeopaticheskie_sredstva" class="expandable"><div class="hitarea expandable-hitarea"></div>
	<span class="">ГОМЕОПАТИЧЕСКИЕ СРЕДСТВА</span>
	<ul style="display: none;">	<li data="preparaty_s_immunostimuliruyuschim_deystviem">
			<i>Препараты с иммуностимулирующим действием</i>
			<b>5</b>
		</li>
		<li data="preparaty_s_protivovospalitelnym_i_hondroprotektornym_deystviem">
			<i>Препараты с противовоспалительным и хондропротекторным действием</i>
			<b>4</b>
		</li>
		<li data="preparaty__primeniaemye_dlia_korrektsii_povedeniia">
			<i>Препараты, применяемые для коррекции поведения</i>
			<b>2</b>
		</li>
		<li data="preparaty__primeniaemye_pri_zabolevaniiah_zhkt">
			<i>Препараты, применяемые при заболеваниях ЖКТ</i>
			<b>5</b>
		</li>
		<li data="preparaty__primeniaemye_pri_zabolevaniiah_mochevydelitelnoy_sistemy">
			<i>Препараты, применяемые при заболеваниях мочевыделительной системы</i>
			<b>2</b>
		</li>
		<li data="preparaty__primeniaemye_pri_zabolevaniiah_reproduktivnoy_sistemy">
			<i>Препараты, применяемые при заболеваниях репродуктивной системы</i>
			<b>2</b>
		</li>
		<li data="preparaty__primeniaemye_pri_travmah">
			<i>Препараты, применяемые при травмах</i>
			<b>2</b>
		</li>
		<li data="preparaty__reguliruyuschie_obmen_veschestv" class="last">
			<i>Препараты, регулирующие обмен веществ</i>
			<b>5</b>
		</li>
	</ul>
</li>
<li data="diagnosticheskie_sredstva" class="expandable"><div class="hitarea expandable-hitarea"></div>
	<span class="">ДИАГНОСТИЧЕСКИЕ СРЕДСТВА</span>
	<ul style="display: none;">	<li data="preparaty__ispolzuemye_v_allergicheskom_metode_issledovaniia">
		</li>
		<li data="preparaty__ispolzuemye_v_immunologicheskom_metode_issledovaniia">
			<i>Препараты, используемые в иммунологическом методе исследования</i>
			<b>3</b>
		</li>
		<li data="preparaty__ispolzuemye_v_kulturalnom_metode_issledovaniia">
		</li>
		<li data="preparaty__ispolzuemye_v_serologicheskom_metode_issledovaniia">
			<i>Препараты, используемые в серологическом методе исследования</i>
			<b>2</b>
		</li>
		<li data="prochie_diagnosticheskie_preparaty" class="last">
		</li>
	</ul>
</li>
<li data="otorinolaringologicheskie_sredstva" class="expandable"><div class="hitarea expandable-hitarea"></div>
	<span class="">ОТОРИНОЛАРИНГОЛОГИЧЕСКИЕ СРЕДСТВА</span>
	<ul style="display: none;">	<li data="immunostimuliruyuschie_preparaty">
			<i>Иммуностимулирующие препараты</i>
			<b>1</b>
		</li>
		<li data="preparaty__primeniaemye_pri_vospalitelnyh_zabolevaniiah_lor-organov">
		</li>
		<li data="preparaty__primeniaemye_pri_infektsionnyh_zabolevaniiah_lor-organov" class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div>
			<span>Препараты, применяемые при инфекционных заболеваниях ЛОР-органов</span>
			<ul style="display: none;">	<li data="akaritsidnye_preparaty">
					<i>Акарицидные препараты</i>
					<b>1</b>
				</li>
				<li data="antiseptiki">
					<i>Антисептики</i>
					<b>1</b>
				</li>
				<li data="preparaty_s_akaritsidnym__antibakterialnym_i_immunostimuliruyuschim_deystviem">
					<i>Препараты с акарицидным, антибактериальным и иммуностимулирующим действием</i>
					<b>1</b>
				</li>
				<li data="preparaty_s_antibakterialnym_i_immunostimuliruyuschim_deystviem">
					<i>Препараты с антибактериальным и иммуностимулирующим действием</i>
					<b>1</b>
				</li>
				<li data="preparaty_s_antibakterialnym_i_protivogribkovym_deystviem">
					<i>Препараты с антибактериальным и противогрибковым действием</i>
					<b>1</b>
				</li>
				<li data="preparaty_s_antibakterialnym__protivogribkovym_i_protivovospalitelnym_deystviem">
					<i>Препараты с антибактериальным, противогрибковым и противовоспалительным действием</i>
					<b>1</b>
				</li>
				<li data="preparaty_s_protivovospalitelnym__antibakterialnym_i_mestnoanesteziruyuschim_deystviem" class="last">
					<i>Препараты с противовоспалительным, антибактериальным и местноанестезирующим действием</i>
					<b>1</b>
				</li>
			</ul>
		</li>
	</ul>
</li>
<li data="oftalmologicheskie_sredstva" class="expandable"><div class="hitarea expandable-hitarea"></div>
	<span>ОФТАЛЬМОЛОГИЧЕСКИЕ СРЕДСТВА</span>
	<ul style="display: none;">	<li data="antiglaukomnye_preparaty">
		</li>
		<li data="immunostimuliruyuschie_preparaty">
			<i>Иммуностимулирующие препараты</i>
			<b>1</b>
		</li>
		<li data="mestnye_anestetiki">
		</li>
		<li data="preparaty__vyzyvayuschie_midriaz_i_paralich_akkomododatsii">
		</li>
		<li data="preparaty__primeniaemye_pri_vospalitelnyh_zabolevaniiah_glaz">
		</li>
		<li data="preparaty__primeniaemye_pri_infektsionnyh_zabolevaniiah_glaz" class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div>
			<span>Препараты, применяемые при инфекционных заболеваниях глаз</span>
			<ul style="display: none;">	<li data="antibakterialnye_preparaty">
					<i>Антибактериальные препараты</i>
					<b>4</b>
				</li>
				<li data="antiseptiki">
					<i>Антисептики</i>
					<b>1</b>
				</li>
				<li data="preparaty_s_antibakterialnym_i_mestnoanesteziruyuschim_deystviem">
				</li>
				<li data="preparaty_s_antibakterialnym_i_protivogelmintnym_deystviem">
				</li>
				<li data="preparaty_s_protivomikrobnym_i_uluchshayuschim_obmennye_protsessy_deystviem" class="last">
					<i>Препараты с противомикробным и улучшающим обменные процессы действием</i>
					<b>2</b>
				</li>
			</ul>
		</li>
	</ul>
</li>
<li data="protivovospalitelnye_sredstva" class="expandable"><div class="hitarea expandable-hitarea"></div>
	<span>ПРОТИВОВОСПАЛИТЕЛЬНЫЕ СРЕДСТВА</span>
	<ul style="display: none;">	<li data="glyukokortikoidnye_sredstva">
		</li>
		<li data="nesteroidnye_protivovospalitelnye_preparaty">
			<i>Нестероидные противовоспалительные препараты</i>
			<b>13</b>
		</li>
		<li data="prochie_preparaty_s_protivovospalitelnym_deystviem" class="last">
		</li>
	</ul>
</li>
<li data="prochie_sredstva" class="expandable"><div class="hitarea expandable-hitarea"></div>
	<span>ПРОЧИЕ СРЕДСТВА</span>
	<ul style="display: none;">	<li data="preparaty_dlia_borby_s_gryzunami">
		</li>
		<li data="preparaty__primeniaemye_pri_bolezniah_pchel">
			<i>Препараты, применяемые при болезнях пчел</i>
			<b>3</b>
		</li>
		<li data="preparaty__primeniaemye_pri_bolezniah_ryb">
		</li>
		<li data="preparaty__primeniaemye_pri_ottaivanii_zamorozhennoy_spermy_bykov" class="last">
		</li>
	</ul>
</li>
<li data="sredstva_rastitelnogo_proishozhdeniia" class="expandable"><div class="hitarea expandable-hitarea"></div>
	<span>СРЕДСТВА РАСТИТЕЛЬНОГО ПРОИСХОЖДЕНИЯ</span>
	<ul style="display: none;">	<li data="kormovye_dobavki">
			<i>Кормовые добавки</i>
			<b>2</b>
		</li>
		<li data="preparaty_dlia_zaschity_zhivotnyh_ot_ektoparazitov">
			<i>Препараты для защиты животных от эктопаразитов</i>
			<b>3</b>
		</li>
		<li data="preparaty_dlia_lecheniia_ran_i_povrezhdeniy_kozhi">
			<i>Препараты для лечения ран и повреждений кожи</i>
			<b>2</b>
		</li>
		<li data="preparaty_s_immunostimuliruyuschim_deystviem">
			<i>Препараты с иммуностимулирующим действием</i>
			<b>3</b>
		</li>
		<li data="preparaty__primeniaemye_pri_zabolevaniiah_mochevydelitelnoy_sistemy">
			<i>Препараты, применяемые при заболеваниях мочевыделительной системы</i>
			<b>2</b>
		</li>
		<li data="preparaty__primeniaemye_pri_zabolevaniiah_pischevaritelnoy_sistemy" class="last">
			<i>Препараты, применяемые при заболеваниях пищеварительной системы</i>
			<b>1</b>
		</li>
	</ul>
</li>
<li data="sredstva__vliiayuschie_na_nervnuyu_sistemu" class="expandable"><div class="hitarea expandable-hitarea"></div>
	<span>СРЕДСТВА, ВЛИЯЮЩИЕ НА НЕРВНУЮ СИСТЕМУ</span>
	<ul style="display: none;">	<li data="antagonisty_opioidnyh_analgetikov">
		</li>
		<li data="antagonisty_sedativnyh_preparatov">
		</li>
		<li data="mestnye_anestetiki">
		</li>
		<li data="opioidnye_analgetiki">
		</li>
		<li data="preparaty__vliiayuschie_na_nervno-myshechnuyu_peredachu">
		</li>
		<li data="preparaty__primeniaemye_dlia_korrektsii_povedeniia" class="expandable"><div class="hitarea expandable-hitarea"></div>
			<span>Препараты, применяемые для коррекции поведения</span>
			<ul style="display: none;">	<li data="antidepressanty">
				</li>
				<li data="gomeopaticheskie_preparaty">
					<i>Гомеопатические препараты</i>
					<b>2</b>
				</li>
				<li data="neyroleptiki">
				</li>
				<li data="trankvilizatory" class="last">
				</li>
			</ul>
		</li>
		<li data="preparaty__primeniaemye_dlia_obschey_anestezii" class="expandable"><div class="hitarea expandable-hitarea"></div>
			<span>Препараты, применяемые для общей анестезии</span>
			<ul style="display: none;">	<li data="preparaty_dlia_ingaliatsionnogo_narkoza">
				</li>
				<li data="preparaty_dlia_neingaliatsionnnogo_narkoza">
				</li>
				<li data="preparaty_dlia_premedikatsii_i_vvodnogo_narkoza" class="last">
					<i>Препараты для премедикации и вводного наркоза</i>
					<b>1</b>
				</li>
			</ul>
		</li>
		<li data="preparaty__primeniaemye_pri_neyroleptanalgezii">
		</li>
		<li data="preparaty__stimuliruyuschie_tsns">
			<i>Препараты, стимулирующие ЦНС</i>
			<b>2</b>
		</li>
		<li data="preparaty__uluchshayuschie_metabolizm_golovnogo_mozga" class="expandable"><div class="hitarea expandable-hitarea"></div>
			<span>Препараты, улучшающие метаболизм головного мозга</span>
			<ul style="display: none;">	<li data="antioksidanty" class="last">
					<i>Антиоксиданты</i>
					<b>4</b>
				</li>
			</ul>
		</li>
		<li data="preparaty__uluchshayuschie_mozgovoe_krovoobraschenie">
		</li>
		<li data="protivosudorozhnye_preparaty">
		</li>
		<li data="sedativnye_preparaty" class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div>
			<span>Седативные препараты</span>
			<ul style="display: none;">	<li data="alfa2-adrenomimetiki" class="last">
					<i>Альфа<sub>2</sub>-адреномиметики</i>
					<b>1</b>
				</li>
			</ul>
		</li>
	</ul>
</li>
<li data="sredstva__vliiayuschie_na_reproduktivnuyu_sistemu" class="expandable"><div class="hitarea expandable-hitarea"></div>
	<span>СРЕДСТВА, ВЛИЯЮЩИЕ НА РЕПРОДУКТИВНУЮ СИСТЕМУ</span>
	<ul style="display: none;">	<li data="gomeopaticheskie_preparaty">
			<i>Гомеопатические препараты</i>
			<b>2</b>
		</li>
		<li data="kontratseptivnye_preparaty" class="expandable"><div class="hitarea expandable-hitarea"></div>
			<span>Контрацептивные препараты</span>
			<ul style="display: none;">	<li data="kombinirovannye_preparaty__soderzhaschie_estrogeny_i_gestageny" class="last">
					<i>Комбинированные препараты, содержащие эстрогены и гестагены</i>
					<b>2</b>
				</li>
			</ul>
		</li>
		<li data="polovye_gormony" class="expandable"><div class="hitarea expandable-hitarea"></div>
			<span>Половые гормоны</span>
			<ul style="display: none;">	<li data="androgeny">
				</li>
				<li data="gestageny">
					<i>Гестагены</i>
					<b>1</b>
				</li>
				<li data="estrogeny" class="last">
				</li>
			</ul>
		</li>
		<li data="preparaty__vliiayuschie_na_funktsiyu_polovyh_organov" class="expandable"><div class="hitarea expandable-hitarea"></div>
			<span>Препараты, влияющие на функцию половых органов</span>
			<ul style="display: none;">	<li data="analogi_gonadotropin-rilizing_gormona">
				</li>
				<li data="gonadotropnye_gormony">
					<i>Гонадотропные гормоны</i>
					<b>3</b>
				</li>
				<li data="preparaty_dlia_immunologicheskoy_kastratsii">
					<i>Препараты для иммунологической кастрации</i>
					<b>1</b>
				</li>
				<li data="prostaglandiny" class="last">
					<i>Простагландины</i>
					<b>3</b>
				</li>
			</ul>
		</li>
		<li data="preparaty__primeniaemye_pri_lechenii_infektsionnyh_zabolevaniy_polovyh_organov" class="expandable"><div class="hitarea expandable-hitarea"></div>
			<span>Препараты, применяемые при лечении инфекционных заболеваний половых органов</span>
			<ul style="display: none;">	<li data="antibakterialnye_preparaty">
					<i>Антибактериальные препараты</i>
					<b>3</b>
				</li>
				<li data="antiseptiki">
					<i>Антисептики</i>
					<b>6</b>
				</li>
				<li data="prochie_preparaty" class="last">
					<i>Прочие препараты</i>
					<b>1</b>
				</li>
			</ul>
		</li>
		<li data="preparaty__rasslabliayuschie_miometriy">
		</li>
		<li data="stimuliatory_sokratimosti_miometriia" class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div>
			<span>Стимуляторы сократимости миометрия</span>
			<ul style="display: none;">	<li data="beta-adrenoblokatory">
					<i>Бета-адреноблокаторы</i>
					<b>4</b>
				</li>
				<li data="ingibitory_atsetilholinesterazy">
				</li>
				<li data="preparaty_alkaloidov_sporyni">
				</li>
				<li data="preparaty_gormonov_gipofiza">
					<i>Препараты гормонов гипофиза</i>
					<b>1</b>
				</li>
				<li data="sinteticheskie_analogi_prostaglandinov">
				</li>
				<li data="holinomimetiki" class="last">
				</li>
			</ul>
		</li>
	</ul>
</li>
<li data="sredstva__vliiayuschie_na_energeticheskiy_i_vodno-elektrolitnyy_balans" class="expandable"><div class="hitarea expandable-hitarea"></div>
	<span>СРЕДСТВА, ВЛИЯЮЩИЕ НА ЭНЕРГЕТИЧЕСКИЙ И ВОДНО-ЭЛЕКТРОЛИТНЫЙ БАЛАНС</span>
	<ul style="display: none;">	<li data="anabolicheskie_steroidy">
		</li>
		<li data="antianemicheskie_preparaty">
			<i>Антианемические препараты</i>
			<b>2</b>
		</li>
		<li data="vitaminy" class="expandable"><div class="hitarea expandable-hitarea"></div>
			<span>Витамины</span>
			<ul style="display: none;">	<li data="vodorastvorimye_vitaminy">
				</li>
				<li data="zhirorastvorimye_vitaminy">
				</li>
				<li data="kompleksy_vitaminov">
				</li>
				<li data="polivitaminy" class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div>
					<span>Поливитамины</span>
					<ul style="display: none;">	<li data="polivitaminy_s_aminokislotami" class="last">
							<i>Поливитамины с аминокислотами</i>
							<b>2</b>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li data="gomeopaticheskie_preparaty">
			<i>Гомеопатические препараты</i>
			<b>3</b>
		</li>
		<li data="mineralnye_veschestva" class="expandable"><div class="hitarea expandable-hitarea"></div>
			<span>Минеральные вещества</span>
			<ul style="display: none;">	<li data="gomeopaticheskie_preparaty">
					<i>Гомеопатические препараты</i>
					<b>2</b>
				</li>
				<li data="kompleksy_makroelementov">
					<i>Комплексы макроэлементов</i>
					<b>1</b>
				</li>
				<li data="kompleksy_mikroelementov">
					<i>Комплексы микроэлементов</i>
					<b>1</b>
				</li>
				<li data="preparaty_kaltsiia" class="last">
					<i>Препараты кальция</i>
					<b>1</b>
				</li>
			</ul>
		</li>
		<li data="preparaty_vliiayuschie_na_obmen_veschestv">
			<i>Препараты влияющие на обмен веществ</i>
			<b>9</b>
		</li>
		<li data="preparaty_dlia_parenteralnogo_pitaniia">
		</li>
		<li data="preparaty_dlia_regidratatsii_i_dezintoksikatsii">
		</li>
		<li data="preparaty_s_obscheukrepliayuschim_i_toniziruyuschim_deystviem">
		</li>
		<li data="preparaty__primeniaemye_pri_ketoze">
		</li>
		<li data="preparaty__soderzhaschie_vitaminy_i_mineralnye_veschestva" class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div>
			<span>Препараты, содержащие витамины и минеральные вещества</span>
			<ul style="display: none;">	<li data="kompleksy_vitaminov_i_mikroelementov">
					<i>Комплексы витаминов и микроэлементов</i>
					<b>3</b>
				</li>
				<li data="kompleksy_vitaminov_s_makro-_i_mikroelementami">
				</li>
				<li data="kompleksy_vitaminov_s_makroelementami">
					<i>Комплексы витаминов с макроэлементами</i>
					<b>1</b>
				</li>
				<li data="polivitaminy_s_makro-_i_mikroelementami" class="expandable"><div class="hitarea expandable-hitarea"></div>
					<span>Поливитамины с макро- и микроэлементами</span>
					<ul style="display: none;">	<li data="polivitaminy_s_makro-_i_mikroelementami_i_aminokislotami">
						</li>
						<li data="polivitaminy_s_makro-_i_mikroelementami_i_biogennymi_adaptogenami" class="last">
							<i>Поливитамины с макро- и микроэлементами и биогенными адаптогенами</i>
							<b>9</b>
						</li>
					</ul>
				</li>
				<li data="polivitaminy_s_makroelementami" class="expandable"><div class="hitarea expandable-hitarea"></div>
					<span>Поливитамины с макроэлементами</span>
					<ul style="display: none;">	<li data="polivitaminy_s_makroelementami_i_aminokislotami" class="last">
							<i>Поливитамины с макроэлементами и аминокислотами</i>
							<b>1</b>
						</li>
					</ul>
				</li>
				<li data="polivitaminy_s_mikroelementami" class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div>
					<span>Поливитамины с микроэлементами</span>
					<ul style="display: none;">	<li data="polivitaminy_s_mikroelementami_i_aminokislotami" class="last">
							<i>Поливитамины с микроэлементами и аминокислотами</i>
							<b>2</b>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</li>
<li data="sredstva__primeniaemye_pri_lechenii_bakterialnyh__virusnyh__gribkovyh_i_protozoynyh_infektsiy" class="expandable"><div class="hitarea expandable-hitarea"></div>
	<span class="">СРЕДСТВА, ПРИМЕНЯЕМЫЕ ПРИ ЛЕЧЕНИИ БАКТЕРИАЛЬНЫХ, ВИРУСНЫХ, ГРИБКОВЫХ И ПРОТОЗОЙНЫХ ИНФЕКЦИЙ</span>
	<ul style="display: none;">	<li data="antibakterialnye_preparaty" class="expandable"><div class="hitarea expandable-hitarea"></div>
			<span>Антибактериальные препараты</span>
			<ul style="display: none;">	<li data="antibakterialnye_preparaty_dlia_sanatsii_spermy_i_embrionov_s_h_zhivotnyh">
					<i>Антибактериальные препараты для санации спермы и эмбрионов с/х животных</i>
					<b>1</b>
				</li>
				<li data="antibiotiki_gruppy_aminoglikozidov" class="expandable"><div class="hitarea expandable-hitarea"></div>
					<span>Антибиотики группы аминогликозидов</span>
					<ul style="display: none;">	<li data="prochie_preparaty_kombinirovannogo_sostava" class="last">
							<i>Прочие препараты комбинированного состава</i>
							<b>1</b>
						</li>
					</ul>
				</li>
				<li data="antibiotiki_gruppy_linkozamidov">
					<i>Антибиотики группы линкозамидов</i>
					<b>2</b>
				</li>
				<li data="antibiotiki_gruppy_makrolidov">
					<i>Антибиотики группы макролидов</i>
					<b>12</b>
				</li>
				<li data="antibiotiki_gruppy_penitsillina">
					<i>Антибиотики группы пенициллина</i>
					<b>20</b>
				</li>
				<li data="antibiotiki_gruppy_plevromutilinov">
					<i>Антибиотики группы плевромутилинов</i>
					<b>10</b>
				</li>
				<li data="antibiotiki_gruppy_polipeptidov">
					<i>Антибиотики группы полипептидов</i>
					<b>8</b>
				</li>
				<li data="antibiotiki_gruppy_rifamitsina">
					<i>Антибиотики группы рифамицина</i>
					<b>1</b>
				</li>
				<li data="antibiotiki_gruppy_tetratsiklina" class="expandable"><div class="hitarea expandable-hitarea"></div>
					<span>Антибиотики группы тетрациклина</span>
					<ul style="display: none;">	<li data="prochie_preparaty_kombinirovannogo_sostava" class="last">
							<i>Прочие препараты комбинированного состава</i>
							<b>3</b>
						</li>
					</ul>
				</li>
				<li data="antibiotiki_gruppy_fenikolov" class="expandable"><div class="hitarea expandable-hitarea"></div>
					<span>Антибиотики группы фениколов</span>
					<ul style="display: none;">	<li data="prochie_preparaty_kombinirovannogo_sostava" class="last">
							<i>Прочие препараты комбинированного состава</i>
							<b>3</b>
						</li>
					</ul>
				</li>
				<li data="antibiotiki_gruppy_tsefalosporinov">
					<i>Антибиотики группы цефалоспоринов</i>
					<b>5</b>
				</li>
				<li data="antibiotiki_prochih_grupp">
				</li>
				<li data="proizvodnye_8-oksihinolina">
					<i>Производные 8-оксихинолина</i>
					<b>2</b>
				</li>
				<li data="proizvodnye_nitrofurana">
					<i>Производные нитрофурана</i>
					<b>2</b>
				</li>
				<li data="proizvodnye_sulfanilamida" class="expandable"><div class="hitarea expandable-hitarea"></div>
					<span>Производные сульфаниламида</span>
					<ul style="display: none;">	<li data="prochie_preparaty_kombinirovannogo_sostava" class="last">
							<i>Прочие препараты комбинированного состава</i>
							<b>1</b>
						</li>
					</ul>
				</li>
				<li data="proizvodnye_hinoksalina">
					<i>Производные хиноксалина</i>
					<b>1</b>
				</li>
				<li data="ftorhinolony" class="last">
					<i>Фторхинолоны</i>
					<b>31</b>
				</li>
			</ul>
		</li>
		<li data="antiseptiki" class="expandable"><div class="hitarea expandable-hitarea"></div>
			<span>Антисептики</span>
			<ul style="display: none;">	<li data="dlia_aerozolnogo_primeneniia">
					<i>для аэрозольного применения</i>
					<b>4</b>
				</li>
				<li data="dlia_mestnogo_primeneniia" class="expandable"><div class="hitarea expandable-hitarea"></div>
					<span>для местного применения</span>
					<ul style="display: none;">	<li data="preparaty_kombinirovannogo_sostava" class="last">
							<i>Препараты комбинированного состава</i>
							<b>1</b>
						</li>
					</ul>
				</li>
				<li data="dlia_naruzhnogo_primeneniia" class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div>
					<span>для наружного применения</span>
					<ul style="display: none;">	<li data="preparaty_kombinirovannogo_sostava" class="last">
							<i>Препараты комбинированного состава</i>
							<b>11</b>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li data="preparaty_dlia_dezinfektsii_zhivotnovodcheskih_pomescheniy">
			<i>Препараты для дезинфекции животноводческих помещений</i>
			<b>6</b>
		</li>
		<li data="protivovirusnye_preparaty" class="expandable"><div class="hitarea expandable-hitarea"></div>
			<span>Противовирусные препараты</span>
			<ul style="display: none;">	<li data="induktory_sinteza_interferonov">
					<i>Индукторы синтеза интерферонов</i>
					<b>2</b>
				</li>
				<li data="interferony">
					<i>Интерфероны</i>
					<b>4</b>
				</li>
				<li data="prochie_preparaty" class="last">
				</li>
			</ul>
		</li>
		<li data="protivogribkovye_preparaty">
			<i>Противогрибковые препараты</i>
			<b>4</b>
		</li>
		<li data="protivoprotozoynye_preparaty" class="last">
		</li>
	</ul>
</li>
<li data="sredstva__primeniaemye_pri_lechenii_vospalitelnyh_i_allergicheskih_zabolevaniy" class="expandable"><div class="hitarea expandable-hitarea"></div>
	<span>СРЕДСТВА, ПРИМЕНЯЕМЫЕ ПРИ ЛЕЧЕНИИ ВОСПАЛИТЕЛЬНЫХ И АЛЛЕРГИЧЕСКИХ ЗАБОЛЕВАНИЙ</span>
	<ul style="display: none;">	<li data="blokatory_gistaminovyh_n&lt;v&gt;1&lt;v*&gt;-retseptorov">
		</li>
		<li data="gks">
			<i>ГКС</i>
			<b>3</b>
		</li>
		<li data="preparaty_kaltsiia">
			<i>Препараты кальция</i>
			<b>2</b>
		</li>
		<li data="stabilizatory_membran_tuchnyh_kletok" class="last">
		</li>
	</ul>
</li>
<li data="sredstva__primeniaemye_pri_lechenii_zabolevaniy_dyhatelnoy_sistemy" class="expandable"><div class="hitarea expandable-hitarea"></div>
	<span>СРЕДСТВА, ПРИМЕНЯЕМЫЕ ПРИ ЛЕЧЕНИИ ЗАБОЛЕВАНИЙ ДЫХАТЕЛЬНОЙ СИСТЕМЫ</span>
	<ul style="display: none;">	<li data="bronholitiki">
		</li>
		<li data="mukolitiki">
		</li>
		<li data="preparaty_s_protivomikrobnym_deystviem_dlia_aerozolnogo_primeneniia">
		</li>
		<li data="protivokashlevye_preparaty">
		</li>
		<li data="stimuliatory_dyhaniia" class="last">
			<i>Стимуляторы дыхания</i>
			<b>1</b>
		</li>
	</ul>
</li>
<li data="sredstva__primeniaemye_pri_lechenii_zabolevaniy_kozhi" class="expandable"><div class="hitarea expandable-hitarea"></div>
	<span>СРЕДСТВА, ПРИМЕНЯЕМЫЕ ПРИ ЛЕЧЕНИИ ЗАБОЛЕВАНИЙ КОЖИ</span>
	<ul style="display: none;">	<li data="adsorbiruyuschie_preparaty">
			<i>Адсорбирующие препараты</i>
			<b>1</b>
		</li>
		<li data="immunostimuliruyuschie_preparaty">
			<i>Иммуностимулирующие препараты</i>
			<b>1</b>
		</li>
		<li data="preparaty__primeniaemye_dlia_uhoda_za_kozhno-volosianym_pokrovom">
			<i>Препараты, применяемые для ухода за кожно-волосяным покровом</i>
			<b>9</b>
		</li>
		<li data="preparaty__primeniaemye_pri_vospalitelnyh_zabolevaniiah_kozhi" class="expandable"><div class="hitarea expandable-hitarea"></div>
			<span>Препараты, применяемые при воспалительных заболеваниях кожи</span>
			<ul style="display: none;">	<li data="glyukokortikoidy">
				</li>
				<li data="preparaty_s_protivovospalitelnym__antibakterialnym_i_mestnoanesteziruyuschim_deystviem">
					<i>Препараты с противовоспалительным, антибактериальным и местноанестезирующим действием</i>
					<b>1</b>
				</li>
				<li data="preparaty_s_protivovospalitelnym__antibakterialnym_i_protivogribkovym_deystviem">
					<i>Препараты с противовоспалительным, антибактериальным и противогрибковым действием</i>
					<b>1</b>
				</li>
				<li data="prochie_preparaty_s_protivovospalitelnym_deystviem" class="last">
				</li>
			</ul>
		</li>
		<li data="preparaty__primeniaemye_pri_zabolevaniiah_kozhi_distalnogo_otdela_konechnostey" class="expandable"><div class="hitarea expandable-hitarea"></div>
			<span>Препараты, применяемые при заболеваниях кожи дистального отдела конечностей</span>
			<ul style="display: none;">	<li data="prochie_preparaty_kombinirovannogo_sostava" class="last">
					<i>Прочие препараты комбинированного состава</i>
					<b>7</b>
				</li>
			</ul>
		</li>
		<li data="preparaty__primeniaemye_pri_zabolevaniiah_ushnoy_rakoviny">
		</li>
		<li data="preparaty__primeniaemye_pri_infektsionnyh_zabolevaniiah_kozhi" class="expandable"><div class="hitarea expandable-hitarea"></div>
			<span>Препараты, применяемые при инфекционных заболеваниях кожи</span>
			<ul style="display: none;">	<li data="antiseptiki" class="expandable"><div class="hitarea expandable-hitarea"></div>
					<span>Антисептики</span>
					<ul style="display: none;">	<li data="preparaty_s_protivomikrobnym__adsorbiruyuschim_i_regeneriruyuschim_deystviem">
							<i>Препараты с противомикробным, адсорбирующим и регенерирующим действием</i>
							<b>1</b>
						</li>
						<li data="preparaty_s_protivomikrobnym__viazhuschim_i_keratoliticheskim_deystviem">
						</li>
						<li data="preparaty_s_protivomikrobnym__viazhuschim_i_podsushivayuschim_deystviem">
						</li>
						<li data="preparaty_s_protivomikrobnym__protivovospalitelnym_i_proteoliticheskim_deystviem">
							<i>Препараты с противомикробным, противовоспалительным и протеолитическим действием</i>
							<b>1</b>
						</li>
						<li data="preparaty_s_protivomikrobnym__protivovospalitelnym_i_uluchshayuschim_regeneratsiyu_tkaney_deystviem" class="last">
							<i>Препараты с противомикробным, противовоспалительным и улучшающим регенерацию тканей действием</i>
							<b>9</b>
						</li>
					</ul>
				</li>
				<li data="preparaty_s_antibakterialnym_deystviem" class="expandable"><div class="hitarea expandable-hitarea"></div>
					<span>Препараты с антибактериальным действием</span>
					<ul style="display: none;">	<li data="preparaty_s_antibakterialnym_i_uluchshayuschim_regeneratsiyu_tkaney_deystviem">
							<i>Препараты с антибактериальным и улучшающим регенерацию тканей действием</i>
							<b>1</b>
						</li>
						<li data="preparaty_s_antibakterialnym__proteoliticheskim_i_uluchshayuschim_regeneratsiyu_tkaney_deystviem" class="last">
							<i>Препараты с антибактериальным, протеолитическим и улучшающим регенерацию тканей действием</i>
							<b>1</b>
						</li>
					</ul>
				</li>
				<li data="preparaty_s_protivogribkovym_deystviem" class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div>
					<span>Препараты с противогрибковым действием</span>
					<ul style="display: none;">	<li data="preparaty_s_protivogribkovym_i_akaritsidnym_deystviem">
							<i>Препараты с противогрибковым и акарицидным действием</i>
							<b>1</b>
						</li>
						<li data="preparaty_s_protivogribkovym_i_antibakterialnym_deystviem" class="last">
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li data="fitopreparaty" class="last">
			<i>Фитопрепараты</i>
			<b>4</b>
		</li>
	</ul>
</li>
<li data="sredstva__primeniaemye_pri_lechenii_zabolevaniy_mochevydelitelnoy_sistemy" class="expandable"><div class="hitarea expandable-hitarea"></div>
	<span>СРЕДСТВА, ПРИМЕНЯЕМЫЕ ПРИ ЛЕЧЕНИИ ЗАБОЛЕВАНИЙ МОЧЕВЫДЕЛИТЕЛЬНОЙ СИСТЕМЫ</span>
	<ul style="display: none;">	<li data="nefroprotektory" class="expandable"><div class="hitarea expandable-hitarea"></div>
			<span>Нефропротекторы</span>
			<ul style="display: none;">	<li data="fitopreparaty" class="last">
					<i>Фитопрепараты</i>
					<b>1</b>
				</li>
			</ul>
		</li>
		<li data="preparaty__primeniaemye_pri_infektsiiah_mochevyvodiaschih_putey">
			<i>Препараты, применяемые при инфекциях мочевыводящих путей</i>
			<b>3</b>
		</li>
		<li data="preparaty__primeniaemye_pri_mochekamennoy_bolezni" class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div>
			<span>Препараты, применяемые при мочекаменной болезни</span>
			<ul style="display: none;">	<li data="fitopreparaty" class="last">
					<i>Фитопрепараты</i>
					<b>3</b>
				</li>
			</ul>
		</li>
	</ul>
</li>
<li data="sredstva__primeniaemye_pri_lechenii_zabolevaniy_oporno-dvigatelnogo_apparata" class="expandable"><div class="hitarea expandable-hitarea"></div>
	<span>СРЕДСТВА, ПРИМЕНЯЕМЫЕ ПРИ ЛЕЧЕНИИ ЗАБОЛЕВАНИЙ ОПОРНО-ДВИГАТЕЛЬНОГО АППАРАТА</span>
	<ul style="display: none;">	<li data="glyukokortikoidnye_preparaty">
		</li>
		<li data="gomeopaticheskie_preparaty">
			<i>Гомеопатические препараты</i>
			<b>8</b>
		</li>
		<li data="nesteroidnye_protivovospalitelnye_preparaty">
			<i>Нестероидные противовоспалительные препараты</i>
			<b>16</b>
		</li>
		<li data="preparaty_s_protivovospalitelnym_i_mestnorazdrazhayuschim_deystviem">
			<i>Препараты с противовоспалительным и местнораздражающим действием</i>
			<b>3</b>
		</li>
		<li data="preparaty__vliiayuschie_na_metabolizm_kostnoy_i_hriaschevoy_tkani" class="last">
			<i>Препараты, влияющие на метаболизм костной и хрящевой ткани</i>
			<b>11</b>
		</li>
	</ul>
</li>
<li data="sredstva__primeniaemye_pri_lechenii_zabolevaniy_pischevaritelnoy_sistemy" class="expandable"><div class="hitarea expandable-hitarea"></div>
	<span>СРЕДСТВА, ПРИМЕНЯЕМЫЕ ПРИ ЛЕЧЕНИИ ЗАБОЛЕВАНИЙ ПИЩЕВАРИТЕЛЬНОЙ СИСТЕМЫ</span>
	<ul style="display: none;">	<li data="antatsidy">
		</li>
		<li data="gepatoprotektory">
			<i>Гепатопротекторы</i>
			<b>7</b>
		</li>
		<li data="gomeopaticheskie_preparaty">
			<i>Гомеопатические препараты</i>
			<b>5</b>
		</li>
		<li data="preparaty__vliiayuschie_na_tonus_i_motoriku_zhkt" class="expandable"><div class="hitarea expandable-hitarea"></div>
			<span>Препараты, влияющие на тонус и моторику ЖКТ</span>
			<ul style="display: none;">	<li data="preparaty__povyshayuschie_tonus_i_motoriku_zhkt">
				</li>
				<li data="preparaty__umenshayuschie_tonus_i_motoriku_zhkt" class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div>
					<span>Препараты, уменьшающие тонус и моторику ЖКТ</span>
					<ul style="display: none;">	<li data="blokatory_m-holinoretseptorov">
						</li>
						<li data="miotropnye_spazmolitiki" class="last">
							<i>Миотропные спазмолитики</i>
							<b>2</b>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li data="preparaty__normalizuyuschie_mikrofloru_kishechnika" class="expandable"><div class="hitarea expandable-hitarea"></div>
			<span>Препараты, нормализующие микрофлору кишечника</span>
			<ul style="display: none;">	<li data="prebiotiki_i_probiotiki">
					<i>Пребиотики и пробиотики</i>
					<b>3</b>
				</li>
				<li data="probiotiki" class="last">
					<i>Пробиотики</i>
					<b>8</b>
				</li>
			</ul>
		</li>
		<li data="preparaty__primeniaemye_pri_meteorizme">
		</li>
		<li data="protivodiareynye_preparaty">
		</li>
		<li data="protivorvotnye_preparaty">
		</li>
		<li data="protivoiazvennye_preparaty">
		</li>
		<li data="rvotnye_preparaty">
		</li>
		<li data="slabitelnye_preparaty">
		</li>
		<li data="fermentnye_preparaty" class="expandable"><div class="hitarea expandable-hitarea"></div>
			<span>Ферментные препараты</span>
			<ul style="display: none;">	<li data="preparaty__primeniaemye_dlia_povysheniia_usvoiaemosti_i_pitatelnoy_tsennosti_kormov" class="last">
					<i>Препараты, применяемые для повышения усвояемости и питательной ценности кормов</i>
					<b>3</b>
				</li>
			</ul>
		</li>
		<li data="fitopreparaty">
			<i>Фитопрепараты</i>
			<b>1</b>
		</li>
		<li data="enterosorbenty" class="last">
			<i>Энтеросорбенты</i>
			<b>3</b>
		</li>
	</ul>
</li>
<li data="sredstva__primeniaemye_pri_lechenii_zabolevaniy_serdechno-sosudistoy_sistemy" class="expandable"><div class="hitarea expandable-hitarea"></div>
	<span>СРЕДСТВА, ПРИМЕНЯЕМЫЕ ПРИ ЛЕЧЕНИИ ЗАБОЛЕВАНИЙ СЕРДЕЧНО-СОСУДИСТОЙ СИСТЕМЫ</span>
	<ul style="display: none;">	<li data="antiaritmicheskie_sredstva">
		</li>
		<li data="antioksidanty__primeniaemye_pri_serdechnoy_nedostatochnosti">
			<i>Антиоксиданты, применяемые при сердечной недостаточности</i>
			<b>4</b>
		</li>
		<li data="gipotenzivnye_sredstva">
		</li>
		<li data="preparaty__primeniaemye_pri_serdechnoy_nedostatochnosti" class="expandable"><div class="hitarea expandable-hitarea"></div>
			<span>Препараты, применяемые при сердечной недостаточности</span>
			<ul style="display: none;">	<li data="diuretiki">
				</li>
				<li data="ingibitory_apf">
					<i>Ингибиторы АПФ</i>
					<b>2</b>
				</li>
				<li data="kardiotonicheskie_sredstva" class="last">
				</li>
			</ul>
		</li>
		<li data="sredstva__vliiayuschie_na_svertyvayuschuyu_sistemu_krovi">
		</li>
		<li data="sredstva__uluchshayuschie_perifericheskoe_krovoobraschenie">
		</li>
		<li data="stimuliatory_deiatelnosti_serdtsa" class="last">
			<i>Стимуляторы деятельности сердца</i>
			<b>1</b>
		</li>
	</ul>
</li>
<li data="sredstva__primeniaemye_pri_lechenii_zabolevaniy_endokrinnoy_sistemy">
</li>
<li data="sredstva__primeniaemye_pri_lechenii_i_kontrole_parazitarnyh_zabolevaniy" class="expandable"><div class="hitarea expandable-hitarea"></div>
	<span>СРЕДСТВА, ПРИМЕНЯЕМЫЕ ПРИ ЛЕЧЕНИИ И КОНТРОЛЕ ПАРАЗИТАРНЫХ ЗАБОЛЕВАНИЙ</span>
	<ul style="display: none;">	<li data="insektitsidnye_i_akaritsidnye_preparaty" class="expandable"><div class="hitarea expandable-hitarea"></div>
			<span>Инсектицидные и акарицидные препараты</span>
			<ul style="display: none;">	<li data="dlia_obrabotki_zhivotnyh" class="expandable"><div class="hitarea expandable-hitarea"></div>
					<span>для обработки животных</span>
					<ul style="display: none;">	<li data="fitopreparaty" class="last">
							<i>Фитопрепараты</i>
							<b>3</b>
						</li>
					</ul>
				</li>
				<li data="dlia_obrabotki_zhivotnyh__kupki_ovets__i_dezinsektsii__dekarizatsii__zhivotnovodcheskih_pomescheniy">
					<i>для обработки животных (купки овец) и дезинсекции (декаризации) животноводческих помещений</i>
					<b>5</b>
				</li>
				<li data="dlia_obrabotki_pomescheniy_i_sredstv_uhoda_za_zhivotnymi" class="last">
					<i>для обработки помещений и средств ухода за животными</i>
					<b>4</b>
				</li>
			</ul>
		</li>
		<li data="protivogelmintnye_preparaty" class="expandable"><div class="hitarea expandable-hitarea"></div>
			<span>Противогельминтные препараты</span>
			<ul style="display: none;">	<li data="protivogelmintnye_preparaty_shirokogo_spektra_deystviia">
				</li>
				<li data="protivonematodoznye_preparaty">
					<i>Противонематодозные препараты</i>
					<b>3</b>
				</li>
				<li data="protivotsestodoznye_preparaty" class="last">
					<i>Противоцестодозные препараты</i>
					<b>1</b>
				</li>
			</ul>
		</li>
		<li data="protivoparazitarnye_preparaty_shirokogo_spektra_deystviia" class="last">
			<i>Противопаразитарные препараты широкого спектра действия</i>
			<b>24</b>
		</li>
	</ul>
</li>
<li data="sredstva__primeniaemye_pri_lechenii_mastita" class="expandable"><div class="hitarea expandable-hitarea"></div>
	<span>СРЕДСТВА, ПРИМЕНЯЕМЫЕ ПРИ ЛЕЧЕНИИ МАСТИТА</span>
	<ul style="display: none;">	<li data="gomeopaticheskie_preparaty">
			<i>Гомеопатические препараты</i>
			<b>1</b>
		</li>
		<li data="preparaty_dlia_diagnostiki_skrytyh_vospaleniy_vymeni">
		</li>
		<li data="preparaty_dlia_profilaktiki_i_lecheniia_infitsirovaniia_vymeni_v_suhostoynyy_period">
			<i>Препараты для профилактики и лечения инфицирования вымени в сухостойный период</i>
			<b>2</b>
		</li>
		<li data="preparaty__vvodimye_v_molochnuyu_zhelezu">
			<i>Препараты, вводимые в молочную железу</i>
			<b>7</b>
		</li>
		<li data="preparaty__primeniaemye_pri_povrezhdeniiah_kozhi_vymeni_i_soskov" class="last">
			<i>Препараты, применяемые при повреждениях кожи вымени и сосков</i>
			<b>6</b>
		</li>
	</ul>
</li>
<li data="sredstva__uvelichivayuschie_produktivnost__rezistentnost_i_prirost" class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div>
	<span>СРЕДСТВА, УВЕЛИЧИВАЮЩИЕ ПРОДУКТИВНОСТЬ, РЕЗИСТЕНТНОСТЬ И ПРИРОСТ</span>
	<ul style="display: none;">	<li data="kormovye_antibiotiki">
			<i>Кормовые антибиотики</i>
			<b>2</b>
		</li>
		<li data="kormovye_dobavki" class="expandable"><div class="hitarea expandable-hitarea"></div>
			<span>Кормовые добавки</span>
			<ul style="display: none;">	<li data="primeniaemye_dlia_povysheniia_usvoiaemosti_kormov" class="last">
					<i>применяемые для повышения усвояемости кормов</i>
					<b>3</b>
				</li>
			</ul>
		</li>
		<li data="preparaty_zhivotnogo_proishozhdeniia">
			<i>Препараты животного происхождения</i>
			<b>3</b>
		</li>
		<li data="probiotiki" class="last">
			<i>Пробиотики</i>
			<b>5</b>
		</li>
	</ul>
</li>
</ul>