{% extends 'VidalVeterinarBundle::vidal_layout.html.twig' %}


{% block nav %}
	<div class="breadcrumbs">
		<a href="{{ path('index') }}">Видаль</a>
		<i></i>
		<span>Видаль-Ветеринар</span>
	</div>
{% endblock %}


{% block vidal %}

{% endblock %}