<div class="tabs">
	<a href="{{ path('veterinar') }}" {{ menu_veterinar == 'veterinar' ? 'class="active"' }}>Поиск</a>
	<a href="{{ path('v_kfu') }}" {{ menu_veterinar == 'kfu' ? 'class="active"' }}>Клинико-фармакологический указатель</a>
</div>