/* глобальные стили */
html, body {
	margin:      0;
	padding:     0;
	min-height:  100%;
	height:      100%;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size:   13px;
	color:       #333333;
}

/* глобальные теги */
a {
	color: #268366;
}

/* глобальные классы */
.loz {
	vertical-align: bottom;
}
.small {
	font-size: 11px;
	color:     #999;
}
.tip {
	color:     #476173;
	font-size: 11px;
}
.bold {
	font-weight: bold;
}
.no-underline {
	text-decoration: none;
}
.no-underline:hover {
	text-decoration: underline;
}
.ul-style {
	padding:    0;
	margin:     0;
	list-style: none;
}
.ul-style li {
	padding-left: 13px;
	background:   url('../images/bullets.gif') no-repeat -13px -13px;
}

/* глобальные контейнеры */
#wrapper {
	width:  700px;
	margin: 0 auto 20px;
}
#content {

}
#sidebar {

}
#main {

}

/* drug */
#vidal h1 {
	margin-top: 0;
	font-size:  18px;
	color:      #00468c;
}
#vidal h1 span {
	font-style: italic;
	color:      #999;
}
#vidal h1 a {
	text-decoration: none;
	color:           #00468c;
}
#vidal h1 a:hover {
	text-decoration: underline;
}

/* products */
.products {
	margin:       0;
	padding-left: 0;
	list-style:   none;
}
.product {
	margin-top: 3px;
}
.product-content {
	margin: 0;
}
.product-content a {
	margin-right: 8px;
}
.product-content-zip {
	font-size: 11px;
}

/* anons */
.anons {
	margin-top: 13px;
	background: #f5f5f5;
	padding:    3px 5px;
}
.anons-head span {
	color: #476173;
}
.anons-content {
	font-size:  11px;
	margin-top: 2px;
}
.anons-product {
	font-weight: bold;
}

/* block */
.block {
	margin-top: 17px;
}
.block-head {
	font-weight: bold;
	color:       #00468c;
}
.block-content table {
	width:           100%;
	margin:          5px 0;
	border-collapse: collapse;
	font-size:       13px;
}
.block-content td {
	padding: 3px 5px;
	border:  1px solid #ebebeb;
}
.block-content p {
	margin: 0;
}
.block-highlight {
	box-shadow:            0 0 15px rgba(0, 0, 0, 0.7);
	border-radius:         4px;
	-moz-border-radius:    4px;
	-webkit-border-radius: 4px;
}

/* atc */
.atc-name {
	margin-left:  2px;
	margin-right: 5px;
}

/* conditions */
.conditions {
	overflow: hidden;
	margin:   18px 0 10px;
}
.conditions a {
	float:        left;
	margin-right: 5px;
}

/* navigation */
.navigation {
	margin-top: 15px;
}
.navigation > i {
	display:     block;
	height:      5px;
	line-height: 0;
	font-size:   0;
	background:  url('../images/navigation_bg.gif');
}
.navigation-items {
	padding:    2px 3px 6px;
	border:     1px solid #e9e9e9;
	border-top: 0;
	background: url('../images/navigation_items_bg.gif') repeat-x 0 100%;
}
.navigation-items div {
	display:       inline-block;
	width:         40%;
	margin-bottom: 3px;
	padding-left:  13px;
	background:    url('../images/bullets.gif') no-repeat -13px -13px;
}
.navigation-items div:last-child {
	margin-bottom: 0;
}
.navigation-items a {
	text-decoration: none;
	border-bottom:   1px dashed #268366;
}
.navigation-items a:hover {
	border-bottom: none;
}

/* copy */
.copy {
	margin-top: 20px;
}
.copy-head {
	color: #476173;
}
.copy textarea {
	margin:    2px 0;
	padding:   2px 4px;
	font-size: 12px;
	opacity:   0.5;
}
.copy textarea:hover {
	opacity: 1;
}

/* vidal */
.vidal-footer {
	margin-top:  17px;
	padding-top: 3px;
	border-top:  1px solid #D4D4D4;
	font-size:   11px;
}
.vidal-footer b {
	color:     #476173;
	font-size: 13px;
}

/* products-table */
.products-table {
	border-collapse: collapse;
	border-spacing:  0;
	font-size:       12px;
	line-height:     12px;
	margin:          0 !important;
}
.products-table td {
	border:        0;
	border-bottom: 1px solid #D4D4D4;
	padding:       4px 5px;
}
.products-table-loz {
	border-bottom: 0 !important;
	padding:       0 !important;
}
.products-table-header td {
	font-weight:    bold;
	color:          #476173;
	border-bottom:  0;
	padding-top:    10px;
	padding-bottom: 5px;
	font-size:      11px;
}
.products-table tr.important .products-table-name {
	font-weight: bold;
}
.products-table-indication {
	position: relative;
	padding:  0 5px 0 0 !important;
	cursor:   pointer;
}
.products-table-indication img {
	display: inline-block;
	width:   12px;
	opacity: 0.8;
}
.products-table-indication > div {
	position:              absolute;
	left:                  0;
	top:                   28px;
	display:               none;
	width:                 400px;
	padding:               6px 10px;
	background:            white;
	border:                1px solid #ccc;
	border-radius:         4px;
	-webkit-border-radius: 4px;
	-moz-border-radius:    4px;
	box-shadow:            0 0 10px rgba(0, 0, 0, 0.4);
	z-index:               999;
}
.products-table-indication > div p {
	margin: 3px;
}
.products-table-zip {
	margin-left: 10px;
	font-size:   11px;
}
.products-table-zip span {
	color: #999;
}
.products-table-indication > div {
	display:   none;
	font-size: 11px;
}
.products-table-indication p {
	margin: 0;
}
.products-table tr:last-child td {
	border-bottom: 0;
}