/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
center,
dl, dt, dd, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:         0;
	padding:        0;
	border:         0;
	font-size:      100%;
	font:           inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing:  0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
sup, sub {
	font-size:    12px;
	font-family:  sans-serif;
	display:      inline-block;
	line-height:  4px;
	padding-left: 1px;
}
sup {
	padding-top:    2px;
	vertical-align: top;
}

/* стили контейнеров */
html {
	height: 100%;
}
body {
	width:       100%;
	height:      100%;
	font-family: 'PT Sans', Tahoma, Verdana, sans-serif;
	color:       #333333;
}
.wrapper {
	width:      966px;
	margin:     0 auto;
	padding:    0 15px;
	min-height: 100%;
	height:     auto !important;
	height:     100%;
}
.header {
	position:       relative;
	padding-bottom: 24px;
}
.header-link {
	display:    block;
	width:      143px;
	height:     105px;
	background: url(../images/header.jpg) no-repeat top left;
}
.header-about {
	position:   absolute;
	top:        49px;
	left:       173px;
	width:      230px;
	height:     34px;
	background: url(../images/header-about.jpg) no-repeat top left;
}
.header-search {
	position:   absolute;
	top:        53px;
	left:       447px;
	width:      63px;
	height:     16px;
	background: url(../images/header-search.jpg) no-repeat top left;
}
.middle {
	width:    100%;
	position: relative;
}
.main {
	padding: 0 36px;
}
.content {
	position: relative;
}
.left-sidebar {
	width:          160px;
	position:       relative;
	vertical-align: top;
}
.right-sidebar {
	width:          200px;
	position:       relative;
	vertical-align: top;
}
.footer {
	margin-top: 32px;
	border-top: 1px solid #d71344;
	padding:    22px 10px 32px;
	position:   relative;
	font-size:  80%;
}
.footer-info {
	max-width:  672px;
	margin:     0 auto;
	text-align: justify;
}
.footer-copyright {
	height:         20px;
	margin-top:     24px;
	vertical-align: bottom;
	text-align:     center;
}
.footer-copyright span {
	display:       inline-block;
	margin-bottom: 3px;
	font-size:     90%;
}
.footer-logo {
	display:  block;
	border:   none;
	position: absolute;
	bottom:   6px;
	right:    0;
}
.footer-contacts {
	position: absolute;
	bottom:   15px;
	left:     0;
}
.footer-contacts a {
	margin-right: 15px;
	font-size:    15px;
	font-weight:  bold;
}

/* глобальные теги */
a {
	color: #d71344;
}
input[type=text], input[type=number], input[type=password], input[type=email], input[type=url] {
	width:                 308px;
	height:                27px;
	padding:               0 8px 2px;
	border-radius:         4px;
	-webkit-border-radius: 4px;
	-moz-border-radius:    4px;
	border:                1px solid #d71344;
}
select {
	width: 326px;
}
textarea {
	width:                 308px;
	padding:               2px 8px;
	height:                60px;
	border-radius:         4px;
	-webkit-border-radius: 4px;
	-moz-border-radius:    4px;
	border:                1px solid #d71344;
	resize:                vertical;
}
h1 {
	font-family:   'PT Sans Caption', sans-serif;
	font-size:     18px;
	color:         #d71344;
	font-weight:   bold;
	margin-bottom: 20px;
}
h1 span {
	font-style: italic;
	color:      #999;
}
#main h1:first-of-type {
	margin-top: 0;
}

/* кастомные шрифты */
@font-face {
	font-family: 'PT Sans';
	src:         url('../fonts/pts55f_w.eot');
	src:         local('PT Sans'), url('../fonts/PTS55F_W.woff') format('woff'), url('../fonts/PTS55F_W.ttf') format('truetype'), url('../fonts/PTS55F_W.svg#PTSans-Regular') format('svg');
}

@font-face {
	font-family: 'PT Sans';
	font-style:  italic;
	src:         url('../fonts/pts56f_w.eot');
	src:         local('PT Sans Italic'), url('../fonts/PTS56F_W.woff') format('woff'), url('../fonts/PTS56F_W.ttf') format('truetype'), url('../fonts/PTS56F_W.svg#PTSans-Italic') format('svg');
}

@font-face {
	font-family: 'PT Sans';
	src:         url('../fonts/pts75f_w.eot');
	font-style:  normal;
	font-weight: bold;
	src:         local('PT Sans Bold'), url('../fonts/PTS75F_W.woff') format('woff'), url('../fonts/PTS75F_W.ttf') format('truetype'), url('../fonts/PTS75F_W.svg#PTSans-Bold') format('svg');
}

@font-face {
	font-family: 'PT Sans';
	font-style:  italic;
	font-weight: bold;
	src:         url('../fonts/pts76f_w.eot');
	src:         local('PT Sans Bold Italic'), url('../fonts/PTS76F_W.woff') format('woff'), url('../fonts/PTS76F_W.ttf') format('truetype'), url('../fonts/PTS76F_W.svg#PTSans-BoldItalic') format('svg');
}

@font-face {
	font-family: 'PT Sans Caption';
	src:         url('../fonts/ptc55f_w.eot');
	src:         local('PT Sans Caption'), url('../fonts/PTC55F_W.woff') format('woff'), url('../fonts/PTC55F_W.ttf') format('truetype'), url('../fonts/PTC55F_W.svg#PTSans-Caption') format('svg');
}

@font-face {
	font-family: 'PT Sans Caption';
	font-weight: bold;
	src:         url('../fonts/ptc75f_w.eot');
	src:         local('PT Sans Caption Bold'), url('../fonts/PTC75F_W.woff') format('woff'), url('../fonts/PTC75F_W.ttf') format('truetype'), url('../fonts/PTC75F_W.svg#PTSans-CaptionBold') format('svg');
}

@font-face {
	font-family: 'PT Sans Narrow';
	src:         url('../fonts/ptn57f_w.eot');
	src:         local('PT Sans Narrow'), url('../fonts/PTN57F_W.woff') format('woff'), url('../fonts/PTN57F_W.ttf') format('truetype'), url('../fonts/PTN57F_W.svg#PTSans-Narrow') format('svg');
}

@font-face {
	font-family: 'PT Sans Narrow';
	font-weight: bold;
	src:         url('../fonts/ptn77f_w.eot');
	src:         local('PT Sans Narrow Bold'), url('../fonts/PTN77F_W.woff') format('woff'), url('../fonts/PTN77F_W.ttf') format('truetype'), url('../fonts/PTN77F_W.svg#PTSans-NarrowBold') format('svg');
}

/* глобальные классы */
.caption {
	font-family: 'PT Sans Caption', sans-serif;
	color:       #d71344;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.bg-gray {
	background: #F6F6F6;
}
.red {
	color: #dd0000;
}
.asterisk {
	margin-left: 3px;
	font-weight: bold;
}
.loz {
	vertical-align: bottom;
}
.small {
	font-style:  normal;
	font-weight: normal;
	font-size:   13px;
	color:       #999;
}
.tip {
	color:     #476173;
	font-size: 13px;
}
.bold {
	font-weight: bold;
}
.dashed {
	text-decoration: none;
	border-bottom:   1px dashed #268366;
}
.clear {
	clear: both;
}
.dashed:hover {
	border-bottom: none;
}
.dotted {
	background: url(../images/bg/dotted.png) repeat-x top left;
}
.dotted:hover {
	background: url(../images/bg/dotted_gray.png) repeat-x top left;
}
.underline {
	text-decoration: underline;
}
.no-underline {
	text-decoration: none;
}
.no-underline:hover {
	text-decoration: underline;
}
.ul-style, .ul {
	padding:    0;
	margin:     0;
	list-style: none;
}
.ul-style li {
	padding-left: 13px;
	background:   url('../images/bullets.gif') no-repeat -13px -13px;
}
.ui-menu-item em {
	font-style:  normal;
	font-weight: bold;
	color:       #444;
}
.ui-menu .ui-menu-item a {
	font-size:   15px;
	font-family: 'PT Sans', sans-serif;
}
.border-line {
	border: 1px solid #aaa;
}
.border-radius {
	border-radius:         4px;
	-moz-border-radius:    4px;
	-webkit-border-radius: 4px;
}
.italic {
	font-style: italic !important;
}
.thanks {
	margin:           5px 0 15px;
	padding:          8px 15px 10px;
	font-style:       italic;
	font-weight:      bold;
	color:            #2f4053;
	background-color: #F6F6F6;
	font-size:        18px;
}
.thanks.error {
	color:      maroon;
	background: palegoldenrod;
}
.raspberry {
	color: #d71344;
}
#vidal .highlight {
	color:       #d71344;
	font-weight: bold;
}
.no-selection * {
	-webkit-touch-callout: none;
	-webkit-user-select:   none;
	-khtml-user-select:    none;
	-moz-user-select:      none;
	-ms-user-select:       none;
	user-select:           none;
}
.ajax-loader {
	display:    block;
	height:     32px;
	width:      32px;
	margin:     40px auto;
	background: url(../images/ajax-loader.gif) no-repeat top left;
}
.title {
	background-color: #F5F5F5;
	font-weight:      bold;
	font-size:        18px;
}
.title a {
	display:         block;
	padding:         5px 7px 6px;
	text-decoration: none;
	color:           #2e3f51;
}
.title a:hover {
	text-decoration: underline;
}

/* боковое меню */
.sidebar-menu .active {
	color: #6c7580;
}
.sidebar-menu li {
	margin-bottom: 16px;
}
.sidebar-menu li a {
	font-weight:     bold;
	font-size:       17px;
	text-decoration: none;
}

/* блок авторизации */
.auth {
	margin:  30px 0 12px;
	padding: 10px;
	border:  2px solid #eee;
}
.auth .auth-fail-message {
	display:    none;
	margin:     10px 2px 0;
	font-style: italic;
	font-size:  16px;
	text-align: center;
}
.auth .auth-info {
	margin-bottom: 10px;
	font-style:    italic;
	font-size:     16px;
	text-align:    center;
}
.auth .auth-password {
	margin: 8px 0 15px;
}
.auth input {
	height:        26px;
	width:         120px;
	border-radius: 0;
	border:        none;
	background:    #e1e1e1;
}
.auth label {
	display:       block;
	margin-bottom: 4px;
	font-style:    italic;
	font-size:     14px;
	color:         #999;
}
.auth-submit {
	text-align: center;
}
.auth-welcome {
	margin-bottom: 10px;
	color:         #999;
	font-style:    italic;
	font-size:     15px;
}
.auth-controls li {
	margin-bottom: 10px;
}
.auth-controls li a {
	font-weight:     bold;
	font-size:       17px;
	text-decoration: none;
}
.go-registration {
	margin-bottom: 20px;
	font-size:     14px;
	text-align:    center;
	font-weight:   bold;
}

/* auth-popup */
.auth-popup {
	display:            none;
	position:           fixed;
	width:              200px;
	padding:            18px 30px 26px;
	top:                50%;
	left:               50%;
	margin-top:         -220px;
	margin-left:        -130px;
	background:         white;
	border:             none;
	z-index:            1001;
	box-shadow:         0 0 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0 0 10px rgba(0, 0, 0, 0.5);
}
.auth-popup input {
	width: 184px;
}
.auth-popup .auth-submit {
	margin-top: 24px;
	text-align: center;
}
.auth-popup-close {
	display:  block;
	position: absolute;
	top:      0;
	right:    0;
	cursor:   pointer;
	opacity:  0.3;
}
.auth-popup-close:hover {
	opacity: 1;
}
.closed-info {
	font-size:  15px;
	background: beige;
	padding:    6px 8px 7px;
}
.closed-info span {
	margin-right: 6px;
}
#overlay {
	position:       fixed;
	display:        none;
	top:            0;
	left:           0;
	width:          100%;
	height:         100%;
	background:     url('../images/bg/dia.png') repeat top left;
	filter:         alpha(opacity=30);
	-moz-opacity:   .3;
	-khtml-opacity: .3;
	opacity:        0.3;
	z-index:        1000;
}

/* форма */
.form_table {
	width: 100%;
}
.form_table td.label {
	width:          40%;
	vertical-align: middle;
	padding-bottom: 8px;
	color:          #666d75;
}
.form_table td.widget {
	width:          60%;
	padding-bottom: 8px;
}
.form_table input[type="checkbox"] {
	margin-left: 0;
}
.form_table button, .btn-red {
	display:          inline-block;
	margin:           0;
	padding:          5px 22px 7px;
	background-color: #d71344;
	color:            white;
	border:           none;
	outline:          none;
	cursor:           pointer;
	text-decoration:  none;
	font-family:      'PT Sans Caption', sans-serif;
	font-size:        15px;
	text-align:       center;
}
.form_table button:hover, .btn-red:hover, .form_table button:active, .btn-red:active {
	background-color: #c0113d;
}
.form_table button:active, .btn-red:active {
	position: relative;
	top:      1px;
}
.form_table .form_button {
	padding-top: 20px;
}
.form_table .form_error ul {
	margin:       3px 0 10px;
	padding-left: 15px;
	color:        #d00;
}
.form_table .data-help {
	color:        #A1A1A1;
	font-size:    11px;
	padding-left: 1px;
}

/* drug */
#vidal {
	position: relative;
}
#vidal h1 {
	margin-top: 0;
}
#vidal h1 a {
	text-decoration: none;
	color:           #00468c;
}
#vidal .mnn {
	color:       #476173 !important;
	margin-left: 5px;
}
#vidal h1 a.mnn {
	font-size:   15px;
	margin-left: 20px;
}
#vidal h1 a:hover {
	text-decoration: underline;
}

/* anons */
.anons {
	margin:     13px 0;
	background: #f5f5f5;
	padding:    3px 5px 5px;
	color:      #476173;
}
.anons-drugs {
	margin-top: 0;
}
.anons-head span {
	color: #476173;
}
.anons-content {
	font-size:  13px;
	margin-top: 2px;
	color:      #555;
}
.anons-product {
	font-weight: bold;
}

/* block */
.block {
	margin-top: 17px;
}
.block-anons {
	padding:    3px 5px;
	background: #f5f5f5;
}
.block-head {
	margin-bottom: 3px;
	margin-top:    2px;
	font-weight:   bold;
	color:         #2e3f51;
	font-size:     15px;
}
.block-head span {
	color: #333;
}
.block-tip span {
	color: #6C8EA7;
}
.block-tip {
	font-size: 13px;
	color:     #999;
}
.block-content {
	font-size: 14px;
}
.block-content table {
	width:           100%;
	margin:          5px 0;
	border-collapse: collapse;
	font-size:       13px;
}
.block-content td {
	padding: 3px 5px;
	border:  1px solid #ebebeb;
}
.block-content p {
	margin: 0;
}
.block-highlight {
	box-shadow:            0 0 15px rgba(0, 0, 0, 0.7);
	border-radius:         4px;
	-moz-border-radius:    4px;
	-webkit-border-radius: 4px;
}
.block-info .block-head {
	display: inline-block;
	width:   145px;
}

/* atc */
.atc-name {
	margin-left:  2px;
	margin-right: 5px;
}

/* conditions */
.conditions {
	overflow: hidden;
	margin:   18px 0 10px;
}
.conditions a {
	float:        left;
	margin-right: 5px;
}

/* navigation */
.navigation {
	margin-top: 20px;
	font-size:  14px;
}
.navigation > i {
	display:     block;
	height:      5px;
	line-height: 0;
	font-size:   0;
	background:  url('../images/navigation_bg.gif');
}
.navigation-items {
	padding:    2px 3px 6px;
	border:     1px solid #e9e9e9;
	border-top: 0;
	background: url('../images/navigation_items_bg.gif') repeat-x 0 100%;
}
.navigation-items div {
	display:       inline-block;
	width:         46%;
	margin-bottom: 5px;
	padding-left:  13px;
	background:    url('../images/bullets.gif') no-repeat -13px -13px;
}
.navigation-items div:last-child {
	margin-bottom: 0;
}
.navigation-items a {
	text-decoration: none;
	color:           #2e3f51;
	border-bottom:   1px dashed #aaa;
}
.navigation-items a:hover {
	border-bottom: none;
	color:         #d71344;
}

/* copy */
.copy {
	margin-top: 20px;
}
.copy-head {
	color:     #476173;
	font-size: 13px;
}
.copy textarea {
	width:                 100%;
	height:                47px !important;
	margin:                2px 0;
	padding:               2px 4px;
	font-size:             12px;
	opacity:               0.5;
	border:                1px solid #C54B69;
	border-radius:         0;
	-webkit-border-radius: 0;
	-moz-border-radius:    0;
}
.copy textarea:hover {
	opacity: 1;
}

/* vidal */
.vidal .pictures img {
	display:      inline-block;
	max-height:   200px;
	margin-right: 20px;
}
.vidal .elaboration {
	font-size:   16px;
	margin-left: 3px;
	font-weight: normal;
}
.vidal a {
	font-size: 14px;
}

/* products-table */
.products-table {
	width:           100%;
	border-collapse: collapse;
	border-spacing:  0;
	font-size:       14px;
	line-height:     12px;
	margin:          0 !important;
}
.products-table td {
	border:         0;
	border-bottom:  1px solid #D4D4D4;
	padding:        4px 5px;
	vertical-align: middle;
}
.products-table-loz {
	border-bottom: 0 !important;
	padding:       0 !important;
}
.products-table-header td {
	font-weight:    bold;
	color:          #476173;
	border-bottom:  0;
	padding-top:    10px;
	padding-bottom: 5px;
	font-size:      12px;
	font-family:    'PT Sans Caption', sans-serif;
}
.products-table tr.important .products-table-name {
	font-weight: bold;
}
.products-table-name {
	font-size:   14px;
	line-height: 17px;
}
.products-table-name.admin {
	position: relative;
}
.products-table-name.admin:hover .admin-edit {
	opacity: 1;
}
.products-table-company {
	width:       30%;
	font-size:   14px;
	line-height: 14px;
}
.products-table-picture {
	text-align: center;
}
.products-table-picture img {
	max-width:  70px;
	max-height: 70px;
}
.products-table-indication {
	position: relative;
	padding:  0 5px 0 0 !important;
	cursor:   pointer;
}
.products-table-indication img {
	display: inline-block;
	width:   12px;
	opacity: 0.8;
}
.products-table-indication > div {
	position:              absolute;
	left:                  0;
	top:                   28px;
	display:               none;
	width:                 400px;
	padding:               6px 10px;
	background:            beige;
	border:                1px solid #ccc;
	border-radius:         4px;
	-webkit-border-radius: 4px;
	-moz-border-radius:    4px;
	box-shadow:            0 0 10px rgba(0, 0, 0, 0.4);
	z-index:               999;
	font-size:             13px;
}
.products-table-indication > div p {
	margin: 3px;
}
.products-table-zip {
	margin-left: 10px;
	font-size:   13px;
}
.products-table-zip span {
	color: #999;
}
.products-table-indication > div {
	display: none;
}
.products-table-indication p {
	margin: 0;
}
.products-table tr:last-child td {
	border-bottom: 0;
}

/* admin-edit icon */
.admin-edit {
	display:  inline-block;
	position: absolute;
	top:      6px;
	right:    0;
	opacity:  0;
	z-index:  10;
}
.admin-edit img {
	width:  18px;
	border: none !important;
}
.admin-edit.fade {
	opacity: 0.4;
}
.admin-edit.fade:hover {
	opacity: 1;
}

/* no-results */
.no-results {
	padding:    6px 10px 7px;
	background: #f5f5f5;
	font-size:  16px;
	color:      #476173;
}
.no-results span {
	color: steelblue;
}

/* search */
.search-inputs {
	overflow: hidden;
}
.search .search-type {
	width:      160px;
	visibility: hidden;
}
.search .search-query {
	display:        inline-block;
	float:          left;
	width:          196px;
	margin:         0;
	padding:        0 6px;
	border:         none;
	outline:        none;
	height:         50px;
	background:     transparent;
	vertical-align: top;
	font-style:     italic;
	font-size:      14px;
}
.search-bad {
	position:  absolute;
	left:      0;
	bottom:    -20px;
	color:     #2f4053;
	font-size: 14px;
}
.search-bad > * {
	display:        inline-block;
	vertical-align: top;
}
.search .search-inputs {
	display: inline-block;
}
#wrapper .search .chosen-container-single .chosen-single {
	border:     none;
	height:     50px;
	background: #F6F6F6;
}
#wrapper #search_form .chosen-container-active.chosen-with-drop .chosen-single {
	border: none;
}
#search_form {
	position: absolute;
	top:      36px;
	right:    0;
}
#search_form .chosen-container-single .chosen-single {
	border-radius: 0;
}
#wrapper #search_form .chosen-container .chosen-drop {
	border:        1px solid #eee;
	border-radius: 0;
	background:    #F6F6F6;
}
.search .chosen-container-single .chosen-single span {
	margin-top: 12px;
}
.search .chosen-container {
	vertical-align: top;
	color:          #2e3f51;
	font-style:     italic;
	font-size:      14px;
}
.search .chosen-container-single .chosen-single div {
	top:   13px;
	width: 16px;
}
.search .chosen-container-single .chosen-single span {
	margin-right: 16px;
}
.search .chosen-container-active .chosen-single {
	border:     none;
	box-shadow: none;
}
.search .search-submit {
	background: url(../images/search.png) no-repeat 50% 50%;
	width:      49px;
	height:     49px;
	border:     none;
	cursor:     pointer;
	outline:    none;
}

/* searche-link */
.searche-link {
	position:  absolute;
	top:       92px;
	right:     0;
	font-size: 14px;
}
.searche-link a {
	border-bottom:   1px dashed #d71344;
	text-decoration: none;
	color:           #2f4053;
}

/* search-info */
.search-info {
	margin-left:  5px;
	padding-left: 22px;
	font-size:    15px;
	color:        #476173;
	background:   url(../images/search_16.png) no-repeat top left;
}
.search-info b {
	color: #333;
}

/* pagination */
.pagination {
	overflow:  hidden;
	font-size: 15px;
}
.pagination span {
	display:      inline-block;
	width:        26px;
	text-align:   center;
	height:       22px;
	line-height:  22px;
	margin-right: 2px;
	font-weight:  bold;
	float:        left;
	border:       1px solid #cfd1da;
}
.pagination a {
	text-decoration: none;
	display:         inline-block;
	width:           26px;
	color:           #d71344;
}
.pagination .current, .pagination span:hover a {
	color:            white;
	background-color: #d71344;
}
.pagination .next a, .pagination .previous a, .pagination .next, .pagination .previous {
	width: 51px;
}

/* menu small/big */
.menu {
	overflow:      hidden;
	margin-bottom: 24px;
}
.menu a {
	display:           block;
	float:             left;
	width:             130px;
	height:            99px;
	background-image:  url(../images/bg/menu_small2.png);
	background-repeat: no-repeat;
}
.menu-drugs {
	background-position: 0 0;
}
.menu-symptoms {
	background-position: -130px 0;
}
.menu-doctors {
	background-position: -260px 0;
}
.menu-pharmacy {
	background-position: -390px 0;
}
.menu-drugs:hover, .menu-drugs.active {
	background-position: 0 -101px;
}
.menu-symptoms:hover, .menu-symptoms.active {
	background-position: -130px -101px;
}
.menu-doctors:hover, .menu-doctors.active {
	background-position: -260px -101px;
}
.menu-pharmacy:hover, .menu-pharmacy.active {
	background-position: -390px -101px;
}
.menu-big a {
	background-image: url(../images/bg/menu_big2.png);
	height:           246px;
}
.menu-big .menu-drugs {
	background-position: 0 -1px;
}
.menu-big .menu-symptoms {
	background-position: -130px -1px;
}
.menu-big .menu-doctors {
	background-position: -260px -1px;
}
.menu-big .menu-pharmacy {
	background-position: -390px -1px;
}
.menu-big .menu-drugs:hover, .menu-big .menu-drugs.active {
	background-position: 0 -249px;
}
.menu-big .menu-symptoms:hover, .menu-big .menu-symptoms.active {
	background-position: -130px -249px;
}
.menu-big .menu-doctors:hover, .menu-big .menu-doctors.active {
	background-position: -260px -249px;
}
.menu-big .menu-pharmacy:hover, .menu-big .menu-pharmacy.active {
	background-position: -390px -249px;
}

/* breadcrumbs */
.breadcrumbs {
	margin:      -10px 0 20px;
	font-size:   14px;
	font-family: 'PT Sans Caption', sans-serif;
	color:       #2f4053;
	line-height: 17px;
}
.breadcrumbs > * {
	display:        inline-block;
	vertical-align: top;
}
.breadcrumbs i {
	width:      16px;
	height:     16px;
	background: url(../images/menu-next.png) no-repeat 0 0;
}
.breadcrumbs a {
	color: #2f4053;
}

/* tabs */
.tabs {
	margin-bottom:         22px;
	background:            none repeat scroll 0 0 #E8F2F4;
	border:                1px solid #D6DADD;
	border-radius:         4px;
	-moz-border-radius:    4px;
	-webkit-border-radius: 4px;
	overflow:              hidden;
}
.menu-drugs .tabs {
	margin-bottom: 20px;
	display:       inline-block;
}
.tabs a {
	display:         inline-block;
	float:           left;
	padding:         6px 8px 7px;
	text-decoration: none;
	color:           #2e3f51;
	font-weight:     bold;
	font-size:       13px;
	font-family:     'PT Sans Caption', sans-serif;
}
.tabs a.active {
	color:            white;
	background-color: #2e3f51;
}
.tabs a.active:hover {
	background-color: #2e3f51;
}
.tabs a:hover {
	background: #D4D4D4;
}

/* info-line */
.info-line {
	margin-top:    17px;
	padding:       4px 6px 5px;
	font-weight:   bold;
	color:         #2e3f51;
	font-size:     15px;
	margin-bottom: 4px;
	background:    #f5f5f5;
}
.info-line i {
	display:    inline-block;
	margin:     0 1px;
	font-style: normal;
	color:      #476173;
}
.info-line span {
	color: #333;
}

/* letters */
.letters {
	margin: 10px 0;
}
.letters > div {
	overflow: hidden;
}
.letters input {
	display:         inline-block;
	width:           15px;
	text-align:      center;
	text-decoration: none;
	color:           #62768A;
	float:           left;
	margin-right:    2px;
	font-size:       14px;
	outline:         none;
	cursor:          pointer;
	padding:         0;
	background:      #F5F5F5;
	border:          none;
	line-height:     18px;
}
.letters input.en {
	color: #434EA0;
}
.letters input.active, .letters input:hover {
	background: #d71344;
	color:      white;
}
.letters input:active {
	position: relative;
	top:      1px;
}

/* banners */
.banner {
	position: relative;
}
.banner .admin-edit {
	right: -20px;
}
#banner_top {
	position:      relative;
	margin-bottom: -15px;
	z-index:       10;
}
#banner_top img {
	border:        none;
	border-bottom: 2px solid #b9033c;
}
#banner_bottom {
	clear:  both;
	margin: 0 auto 20px;
}
.banner.swf {
	position:   relative;
	text-align: center;
	background: transparent;
}
.banner.swf > div {
	position:   absolute;
	background: transparent;
	cursor:     pointer;
}
.banner a, .banner img {
	display: block;
}
.left-sidebar .banner, .right-sidebar .banner {
	margin-bottom: 15px;
}
.footer-banner {
	text-align: center;
}
.footer-banner > div {
	display:    inline-block;
	margin-top: 20px;
}

/* description */
.description {
	border:        3px solid #eee;
	font-size:     14px !important;
	margin-bottom: 10px;
	color:         #555;
}
.description > span {
	display:       block;
	background:    #f5f5f5;
	padding:       4px 12px 7px;
	color:         #476173;
	font-size:     15px;
	border-bottom: 1px solid #eee;
}
.description > div {
	padding: 6px 12px 8px;
}

/* overwrite link colors */
#wrapper .article-wrap a,
#wrapper .article-wrap a font,
#wrapper .publication a,
#wrapper .publication a font {
	color: #d71344;
}