#share-buttons {
	margin-bottom: 15px;
}
#share-buttons > div {
	overflow:      hidden;
	display:       inline-block;
	border:        1px solid #ccc;
	border-radius: 4px;
	height:        26px;
	padding:       3px 4px;
}
#share-buttons a {
	display:     inline-block;
	float:       left;
	margin-left: 3px;
}
#share-buttons a.first {
	margin-left: 0;
}
#share-buttons img {
	width:      26px;
	border:     0;
	box-shadow: 0;
}
#share-email {
	display: none;
}
#share-email .share-title {
	color:         #d71344;
	font-size:     17px;
	font-weight:   bold;
	margin-bottom: 18px;
}
#share-email div {
	margin-bottom: 10px;
	width:         418px;
}
#share-email input[type="text"], #share-email textarea {
	width: 400px;
}
#share-email .submit {
	text-align: right;
}
.share-error, .share-message {
	display: none;
}