<ul>
	<li>
		<a href="http://www.vidal.ru/vracham/expert/Vidal-CD/">Электронный справочник Видаль</a>
	</li>
	<li>
		<a href="http://vidal.cloudapp.net/mobile/">Поиск аналогов по МНН</a>
	</li>
</ul>