{% extends 'VidalMainBundle::layout.html.twig' %}


{% block main %}
	<div id="vidal">
		{% block vidal %}{% endblock %}
	</div>

	<div class="vidal-footer">
		<b>Представленная информация по лекарственным препаратам предназначена для врачей и
			работников здравоохранения</b><br/>
		включает материалы из изданий разных лет. Издательство не несет ответственности за возможные отрицательные
		последствия, возникшие в результате неправильного использования представленной информации. Любая информация,
		представленная на сайте, не заменяет консультации врача и не может служить гарантией положительного
		эффекта лекарственного средства.
	</div>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/vidalmain/javascripts/indication.js') }}"></script>
{% endblock %}