{% extends 'VidalMainBundle::layout.html.twig' %}


{% set menu = 'drugs' %}


{% block content %}
	<div id="vidal" class="vidal">
		{% block title %}{% endblock %}
		{% block nav %}{% endblock %}
		{% block vidal %}{% endblock %}
	</div>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/vidalmain/javascripts/indication.js') }}"></script>
{% endblock %}