<div class="description">
	<span>Проверка лекарственного взаимодействия</span>

	<div>
		Проверка лекарственного взаимодействия производится только для активных веществ лекарственных средств.
		При выборе нужного активного вещества в списке по алфавиту вы получаете перечень наиболее вероятных
		взаимодействий для данного активного вещества.</div>
	<div style="padding-top:0">
		Полную информацию о возможных взаимодействиях конкретного препарата можно получить в его Инструкции
		по применению, утвержденной МинЗдравом РФ.
	</div>
</div>