{% extends 'VidalDrugBundle::vidal_layout.html.twig' %}


{% block vidal %}
	{% if menu_drugs is defined %}
		{% include 'VidalDrugBundle:Drugs:menu_drugs.html.twig' %}
	{% endif %}

	<div class="anons anons-drugs">Клинико-фармакологические указатели</div>

	<div class="treeview-controls">
		<a id="tree_expand" href="#">развернуть</a>
		<a id="tree_collapse" href="#">свернуть</a>
	</div>

	{% include 'VidalDrugBundle:Drugs:kfu_generated.html.twig' %}
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/treeview/jquery.treeview.css') }}"/>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/vidalmain/treeview/jquery.treeview.js') }}" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var $tree = $('#tree');

			$tree.treeview({
				animated:  "fast",
				collapsed: true,
				toggle:    false
			});

			$("#tree_expand").click(function() {
				$tree.find('ul').show();
				$tree.find('div.expandable-hitarea').removeClass('expandable-hitarea').addClass('collapsable-hitarea');
				$tree.find('div.lastExpandable-hitarea').removeClass('lastExpandable-hitarea').addClass('lastCollapsable-hitarea');
				$tree.find('li.expandable').removeClass('expandable').addClass('collapsable');
				$tree.find('li.lastExpandable').removeClass('lastExpandable').addClass('lastCollapsable');
				return false;
			});

			$('#tree_collapse').click(function() {
				$tree.find('ul').hide();
				$tree.find('div.collapsable-hitarea').removeClass('collapsable-hitarea').addClass('expandable-hitarea');
				$tree.find('div.lastCollapsable-hitarea').removeClass('lastCollapsable-hitarea').addClass('lastExpandable-hitarea');
				$tree.find('li.collapsable').removeClass('collapsable').addClass('expandable');
				$tree.find('li.lastCollapsable').removeClass('lastCollapsable').addClass('lastExpandable');
				return false;
			});

			$tree.find('i').click(function() {
				location.href = Routing.generate('kfu_item', {'url': $(this).closest('li').attr('data') });
				return false;
			});
		});
	</script>
{% endblock %}