<div class="treeview-controls">
	<a id="tree_collapse" href="#">свернуть</a>
</div>

<ul id="tree" class="treeview">
<li id="17616" class="expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="">АКУШЕРСТВО. ГИНЕКОЛОГИЯ</span>
	<ul style="display: none;"><li id="17642" class="expandable"><div class="hitarea expandable-hitarea"></div><span class="">Препараты половых гормонов для местного применения</span><ul style="display: none;"><li id="17643"><i>Для интравагинального применения</i></li><li id="17644" class="last"><i>Для накожного применения при мастодинии</i></li></ul></li><li id="17678" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Противоклимактерические средства</span><ul style="display: none;"><li id="17680"><i>Гестагены</i></li><li id="17690"><i>Гомеопатические препараты</i></li><li id="17688"><i>Препараты с эстрогенной, гестагенной и слабовыраженной андрогенной активностью</i></li><li id="17685" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Препараты, содержащие эстроген и андроген</span><ul style="display: none;"><li id="17686" class="last"><i>Депо-инъекции</i></li></ul></li><li id="17687"><i>Препараты, содержащие эстроген и антиандроген</i></li><li id="17681" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Препараты, содержащие эстроген и гестаген</span><ul style="display: none;"><li id="17683"><i>Двухфазные</i></li><li id="17682"><i>Монофазные</i></li><li id="17684" class="last"><i>Трехфазные</i></li></ul></li><li id="17691"><i>Прочие препараты</i></li><li id="17689"><i>Фитопрепараты</i></li><li id="17679" class="last"><i>Эстрогены</i></li></ul></li><li id="18859" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Противоклимактерические средства</span><ul style="display: none;"><li id="18879"><i>Гомеопатические препараты</i></li><li id="18860" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Препараты для заместительной гормональной терапии (ЗГТ)</span><ul style="display: none;"><li id="18862"><i>Гестагены</i></li><li id="18870"><i>Препараты с эстрогенной, гестагенной и слабовыраженной андрогенной активностью</i></li><li id="18867" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Препараты, содержащие эстроген и андроген</span><ul style="display: none;"><li id="18868" class="last"><i>Депо-инъекции</i></li></ul></li><li id="18869"><i>Препараты, содержащие эстроген и антиандроген</i></li><li id="18863" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Препараты, содержащие эстроген и гестаген</span><ul style="display: none;"><li id="18865"><i>Двухфазные</i></li><li id="18864"><i>Монофазные</i></li><li id="18866" class="last"><i>Трехфазные</i></li></ul></li><li id="18861" class="last"><i>Эстрогены</i></li></ul></li><li id="18871" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Препараты для лечения постменопаузного остеопороза</span><ul style="display: none;"><li id="18877"><i>Витамины группы D</i></li><li id="18872"><i>Ингибиторы костной резорбции</i></li><li id="18874"><i>Препараты кальцитонина</i></li><li id="18876"><i>Препараты кальция</i></li><li id="18875"><i>Препараты паратиреоидного гормона</i></li><li id="19486"><i>Препараты, содержащие кальций и витамин D</i></li><li id="18873"><i>Селективные модуляторы эстрогеновых рецепторов</i></li><li id="19841"><i>Стимуляторы регенерации хрящевой ткани</i></li><li id="19842" class="last"><i>Стимуляторы формирования костной ткани</i></li></ul></li><li id="19791" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Препараты разных групп для симптоматической терапии проявлений климактерического синдрома</span><ul style="display: none;"><li id="19792"><i>Анксиолитики</i></li><li id="19794"><i>Антидепрессанты</i></li><li id="19795"><i>Витамины</i></li><li id="20244"><i>Препараты животного происхождения</i></li><li id="19799"><i>Препараты, улучшающие микроциркуляцию</i></li><li id="19793" class="last"><i>Седативные препараты</i></li></ul></li><li id="18880"><i>Прочие противоклимактерические препараты</i></li><li id="18878" class="last"><i>Фитопрепараты</i></li></ul></li><li id="17664" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Средства для контрацепции</span><ul style="display: none;"><li id="17676" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Вагинальные контрацептивы со спермицидным действием</span><ul style="display: none;"><li id="17677" class="last"><i>Препараты комбинированного состава</i></li></ul></li><li id="17665" class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div><span>Гормональные контрацептивы</span><ul style="display: none;"><li id="17674"><i>Для внутриматочного введения (ВМС)</i></li><li id="17673"><i>Для интравагинального введения</i></li><li id="17666" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Для постоянного перорального применения</span><ul style="display: none;"><li id="17668"><i>Двухфазные, содержащие эстроген и гестаген</i></li><li id="17667"><i>Монофазные, содержащие эстроген и гестаген</i></li><li id="17671"><i>Содержащие гестагены</i></li><li id="17670"><i>Содержащие эстроген и антиандроген</i></li><li id="17669"><i>Трехфазные, содержащие эстроген и гестаген</i></li><li id="20113" class="last"><i>Четырехфазные, содержащие эстроген и гестаген</i></li></ul></li><li id="17675"><i>Для трансдермального применения</i></li><li id="19464" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Для эпизодического применения (посткоитальные контрацептивы)</span><ul style="display: none;"><li id="19463"><i>Антигестагенные препараты</i></li><li id="17672"><i>Гестагены</i></li><li id="19952"><i>Препараты, содержащие эстроген и гестаген</i></li><li id="20164" class="last"><i>Селективные модуляторы прогестероновых рецепторов</i></li></ul></li><li id="20283" class="last"><i>Импланты для п/к введения</i></li></ul></li></ul></li><li id="18846" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Средства для контрацепции</span><ul style="display: none;"><li id="18857" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Вагинальные контрацептивы со спермицидным действием</span><ul style="display: none;"><li id="18858" class="last"><i>Препараты комбинированного состава</i></li></ul></li><li id="18847" class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div><span>Гормональные контрацептивы</span><ul style="display: none;"><li id="18856"><i>Для внутриматочного введения (ВМС)</i></li><li id="19790"><i>Для интравагинального введения</i></li><li id="18848" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Для постоянного перорального применения</span><ul style="display: none;"><li id="18850"><i>Двухфазные, содержащие эстроген и гестаген</i></li><li id="18849"><i>Монофазные, содержащие эстроген и гестаген</i></li><li id="18853"><i>Содержащие гестагены</i></li><li id="18852"><i>Содержащие эстроген и антиандроген</i></li><li id="18851"><i>Трехфазные, содержащие эстроген и гестаген</i></li><li id="20245" class="last"><i>Четырехфазные, содержащие эстроген и гестаген</i></li></ul></li><li id="18854"><i>Для трансдермального применения</i></li><li id="18855" class="last"><i>Для эпизодического применения (посткоитальные контрацептивы)</i></li></ul></li></ul></li><li id="19786" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Средства для коррекции различных осложнений в периоде лактации</span><ul style="display: none;"><li id="19787"><i>Препараты для лечения трещин сосков молочных желез</i></li><li id="18799" class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div><span>Препараты, влияющие на процесс лактации</span><ul style="display: none;"><li id="18801"><i>Препараты для подавления лактации</i></li><li id="18800" class="last"><i>Препараты для стимуляции лактации</i></li></ul></li></ul></li><li id="18789" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Средства для коррекции различных осложнений в родах</span><ul style="display: none;"><li id="18798"><i>Иммуноглобулины для коррекции резус-конфликта</i></li><li id="18793" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Препараты с анальгезирующим действием</span><ul style="display: none;"><li id="18796"><i>Местные анестетики для эпидуральной анестезии</i></li><li id="18795"><i>Неопиоидные анальгетики</i></li><li id="18794" class="last"><i>Опиоидные анальгетики</i></li></ul></li><li id="19500" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Препараты с гемостатическим действием</span><ul style="display: none;"><li id="18797" class="last"><i>Ингибиторы фибринолиза</i></li></ul></li><li id="18790" class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div><span>Препараты с противосудорожным действием</span><ul style="display: none;"><li id="18791"><i>Анксиолитики</i></li><li id="18792" class="last"><i>Препараты магния</i></li></ul></li></ul></li><li id="18802" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Средства для коррекции различных осложнений при беременности</span><ul style="display: none;"><li id="19789"><i>Антацидные препараты</i></li><li id="18805"><i>Антианемические препараты</i></li><li id="18804"><i>Антигипертензивные препараты</i></li><li id="20100"><i>Антикоагулянты</i></li><li id="18806"><i>Венотонизирующие препараты</i></li><li id="18807"><i>Гепатопротекторы</i></li><li id="20249"><i>Гипогликемические препараты</i></li><li id="18810"><i>Иммуностимуляторы</i></li><li id="20129"><i>Препараты для очищения и защиты слизистой оболочки глотки и гортани</i></li><li id="18803"><i>Препараты половых гормонов, применяемые при угрозе прерывания беременности</i></li><li id="18811" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Препараты, восполняющие дефицит минеральных веществ и витаминов</span><ul style="display: none;"><li id="19807"><i>Витаминные препараты</i></li><li id="19796"><i>Комплексы витаминов</i></li><li id="19443"><i>Комплексы витаминов с макро- и микроэлементами</i></li><li id="18816"><i>Питательные смеси</i></li><li id="19487"><i>Поливитамины</i></li><li id="18815"><i>Поливитамины с макро- и микроэлементами</i></li><li id="18814"><i>Препараты, содержащие макроэлемент и витамин</i></li><li id="18812"><i>Препараты, содержащие макроэлементы</i></li><li id="18813" class="last"><i>Препараты, содержащие микроэлементы</i></li></ul></li><li id="18809"><i>Препараты, улучшающие фето-плацентарное кровообращение</i></li><li id="18808"><i>Пробиотики</i></li><li id="19806"><i>Противогеморроидальные препараты</i></li><li id="19839"><i>Слабительные препараты</i></li><li id="18817"><i>Фитопрепараты с мочегонным действием</i></li><li id="19798" class="last"><i>Энтеросорбенты</i></li></ul></li><li id="18915" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Средства для купирования болевого синдрома в гинекологии</span><ul style="display: none;"><li id="18916"><i>Анальгетики-антипиретики</i></li><li id="18919"><i>Местные анестетики для поверхностной анестезии</i></li><li id="19447"><i>Неопиоидные анальгетики центрального действия</i></li><li id="18918"><i>НПВС</i></li><li id="18917" class="last"><i>Спазмоанальгетики</i></li></ul></li><li id="19448" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Средства для лечения доброкачественных заболеваний молочных желез</span><ul style="display: none;"><li id="20224" class="last"><i>Гомеопатические препараты</i></li></ul></li><li id="19435" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Средства для лечения доброкачественных поражений женских половых органов</span><ul style="display: none;"><li id="18844" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Препараты для консервативной терапии доброкачественных новообразований матки</span><ul style="display: none;"><li id="19429"><i>Аналоги гонадотропин-рилизинг гормона</i></li><li id="19426"><i>Антигестагенные препараты</i></li><li id="20247" class="last"><i>Селективные модуляторы прогестероновых рецепторов</i></li></ul></li><li id="19434" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Препараты для лечения доброкачественных поражений шейки матки и наружных половых органов</span><ul style="display: none;"><li id="18911"><i>Препараты c противомикробным и улучшающим регенерацию тканей действием</i></li><li id="19427" class="last"><i>Препараты с прижигающим действием</i></li></ul></li><li id="19436" class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div><span>Препараты, применяемые при заболеваниях молочных желез</span><ul style="display: none;"><li id="20168" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Гестагены</span><ul style="display: none;"><li id="20246" class="last"><i>Для накожного применения</i></li></ul></li><li id="20169"><i>Гомеопатические препараты</i></li><li id="20170" class="last"><i>Фитопрепараты</i></li></ul></li></ul></li><li id="17641"><i>Средства для лечения доброкачественных поражений шейки матки</i></li><li id="18828" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Средства для подавления патологической пролиферации эндометрия</span><ul style="display: none;"><li id="18833"><i>Аналоги гонадотропин-рилизинг гормона</i></li><li id="18832"><i>Ингибиторы продукции гонадотропинов</i></li><li id="18829" class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div><span>Препараты половых гормонов</span><ul style="display: none;"><li id="18831"><i>Андрогены</i></li><li id="18830" class="last"><i>Гестагены</i></li></ul></li></ul></li><li id="18927" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Средства разных групп, применяемые в гинекологии</span><ul style="display: none;"><li id="20131"><i>Поливитамины</i></li><li id="20099"><i>Препараты, применяемые при андрогензависимых заболеваниях кожи</i></li><li id="18928" class="last"><i>Препараты, снижающие тонус гладкой мускулатуры мочевыводящих путей</i></li></ul></li><li id="19245"><i>Средства с местноанестезирующим действием</i></li><li id="17660"><i>Средства с протеолитической активностью</i></li><li id="17637" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Средства с противовоспалительным действием для местного применения</span><ul style="display: none;"><li id="20101"><i>Гомеопатические препараты</i></li><li id="17638"><i>НПВС</i></li><li id="17639" class="last"><i>Фитопрепараты</i></li></ul></li><li id="17640"><i>Средства с противовоспалительным и противомикробным действием для местного применения</i></li><li id="17625" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Средства с противомикробным действием для местного применения</span><ul style="display: none;"><li id="17626"><i>Антибиотики</i></li><li id="17635" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Антисептики</span><ul style="display: none;"><li id="17636" class="last"><i>Препараты комбинированного состава</i></li></ul></li><li id="19450"><i>Иммуностимулирующие препараты</i></li><li id="17633" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Противовирусные препараты</span><ul style="display: none;"><li id="19724"><i>Индукторы синтеза интерферонов</i></li><li id="17634" class="last"><i>Интерфероны</i></li></ul></li><li id="17629" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Противогрибковые препараты</span><ul style="display: none;"><li id="17630"><i>Препараты с противогрибковым и антибактериальным действием</i></li><li id="17631" class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div><span>Препараты с противогрибковым, противопротозойным и антибактериальным действием</span><ul style="display: none;"><li id="17632" class="last"><i>Прочие препараты комбинированного состава</i></li></ul></li></ul></li><li id="17627" class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div><span>Противопротозойные препараты</span><ul style="display: none;"><li id="17628" class="last"><i>Прочие препараты комбинированного состава</i></li></ul></li></ul></li><li id="18778" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Средства, влияющие на гладкую мускулатуру матки</span><ul style="display: none;"><li id="18779" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Препараты, повышающие тонус и сократительную активность миометрия</span><ul style="display: none;"><li id="18845"><i>Антигестагенные препараты</i></li><li id="19423"><i>Ингибиторы холинэстеразы</i></li><li id="18780"><i>Окситоцин, его аналоги и производные</i></li><li id="18783"><i>Препараты алкалоидов спорыньи</i></li><li id="18781" class="last"><i>Синтетические аналоги простагландинов</i></li></ul></li><li id="18784" class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div><span>Препараты, снижающие тонус и сократительную активность миометрия</span><ul style="display: none;"><li id="20128"><i>Антагонисты окситоцина</i></li><li id="18788"><i>Блокаторы м-холинорецепторов</i></li><li id="18786"><i>Миотропные спазмолитики</i></li><li id="18787"><i>Препараты магния</i></li><li id="18785" class="last"><i>Стимуляторы бета<sub>2</sub>-адренорецепторов</i></li></ul></li></ul></li><li id="17617" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Средства, повышающие тонус и сократительную активность миометрия</span><ul style="display: none;"><li id="17663"><i>Антигестагенные препараты</i></li><li id="17618"><i>Окситоцин, его аналоги и производные</i></li><li id="17621"><i>Препараты алкалоидов спорыньи</i></li><li id="17619"><i>Синтетические аналоги простагландинов</i></li><li id="19574" class="last"><i>Фитопрепараты</i></li></ul></li><li id="18922" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Средства, применяемые в оперативной гинекологии</span><ul style="display: none;"><li id="19425"><i>Плазмозамещающие препараты</i></li><li id="18923" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Препараты, применяемые для остановки кровотечений</span><ul style="display: none;"><li id="19495"><i>Активаторы образования тромбопластина</i></li><li id="19497"><i>Аналоги вазопрессина</i></li><li id="19498" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Для местного применения</span><ul style="display: none;"><li id="19488" class="last"><i>Гемостатическая губка</i></li></ul></li><li id="19433"><i>Ингибиторы перехода плазминогена в плазмин</i></li><li id="18924"><i>Поливалентные ингибиторы протеиназ плазмы</i></li><li id="19496" class="last"><i>Препараты витамина К</i></li></ul></li><li id="18925" class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div><span>Препараты, применяемые для профилактики тромбообразования</span><ul style="display: none;"><li id="18926" class="last"><i>Антикоагулянты</i></li></ul></li></ul></li><li id="17645" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Средства, применяемые для восстановления нормальной микрофлоры влагалища</span><ul style="display: none;"><li id="17646"><i>Вакцины</i></li><li id="20261" class="last"><i>Пробиотики</i></li></ul></li><li id="18920" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Средства, применяемые при диагностике гинекологических заболеваний</span><ul style="display: none;"><li id="18921" class="last"><i>Рентгеноконтрастные препараты</i></li></ul></li><li id="19479" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Средства, применяемые при злокачественных опухолях женских половых органов</span><ul style="display: none;"><li id="19499"><i>Андрогены</i></li><li id="19501"><i>Вакцина, применяемая для профилактики развития рака шейки матки</i></li><li id="19483"><i>Гестагены</i></li><li id="19489" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Ингибиторы синтеза половых гормонов</span><ul style="display: none;"><li id="19484"><i>Аналоги гонадотропин-рилизинг гормона</i></li><li id="19490" class="last"><i>Селективные ингибиторы ароматазы</i></li></ul></li><li id="19481"><i>Камптотецины</i></li><li id="19482"><i>Препараты с антиэстрогенной активностью</i></li><li id="19480" class="last"><i>Таксоиды</i></li></ul></li><li id="18881" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Средства, применяемые при инфекционно-воспалительных заболеваниях женских половых органов</span><ul style="display: none;"><li id="18882" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Антибактериальные препараты</span><ul style="display: none;"><li id="18891"><i>Для местного применения</i></li><li id="18883" class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div><span>Для системного применения</span><ul style="display: none;"><li id="19800"><i>Антибиотики группы аминогликозидов</i></li><li id="18886"><i>Антибиотики группы карбапенемов</i></li><li id="19485"><i>Антибиотики группы линкозамидов</i></li><li id="18887"><i>Антибиотики группы макролидов</i></li><li id="18884"><i>Антибиотики группы пенициллина</i></li><li id="19444"><i>Антибиотики группы тетрациклина</i></li><li id="18885"><i>Антибиотики группы цефалоспоринов</i></li><li id="18888"><i>Антибиотики разных групп</i></li><li id="19797"><i>Производные нитрофурана</i></li><li id="18889"><i>Производные сульфаниламида</i></li><li id="18890" class="last"><i>Фторхинолоны</i></li></ul></li></ul></li><li id="18906" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Антисептики для местного применения</span><ul style="display: none;"><li id="18907" class="last"><i>Препараты с противомикробным, прижигающим и улучшающим регенерацию тканей действием</i></li></ul></li><li id="18912" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Иммуностимулирующие препараты</span><ul style="display: none;"><li id="18914"><i>Для местного применения</i></li><li id="18913" class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div><span>Для системного применения</span><ul style="display: none;"><li id="19432"><i>Вакцины</i></li><li id="19430"><i>Индукторы синтеза интерферона</i></li><li id="19431"><i>Интерфероны</i></li><li id="19446"><i>Препараты природного происхождения</i></li><li id="19445" class="last"><i>Препараты синтетического происхождения</i></li></ul></li></ul></li><li id="20115"><i>Препараты с протеолитической активностью</i></li><li id="18908" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Препараты с противовоспалительным действием</span><ul style="display: none;"><li id="18910"><i>Для местного применения</i></li><li id="18909" class="last"><i>Для системного применения</i></li></ul></li><li id="18898" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Препараты с противогрибковым, противопротозойным, и антибактериальным действием</span><ul style="display: none;"><li id="18900"><i>Для местного применения</i></li><li id="18899" class="last"><i>Для системного применения</i></li></ul></li><li id="18901" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Противовирусные препараты</span><ul style="display: none;"><li id="18904" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Для местного применения</span><ul style="display: none;"><li id="18905" class="last"><i>Интерфероны</i></li></ul></li><li id="18902" class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div><span>Для системного применения</span><ul style="display: none;"><li id="18903" class="last"><i>Индукторы синтеза интерферонов (Препараты, активирующие противовирусный иммунитет)</i></li></ul></li></ul></li><li id="18895" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Противогрибковые препараты</span><ul style="display: none;"><li id="18897"><i>Для местного применения</i></li><li id="18896" class="last"><i>Для системного применения</i></li></ul></li><li id="18892" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Противопротозойные препараты с антибактериальной активностью</span><ul style="display: none;"><li id="18894"><i>Для местного применения</i></li><li id="18893" class="last"><i>Для системного применения</i></li></ul></li><li id="19788" class="last"><i>Средства, применяемые для восстановления нормальной микрофлоры влагалища</i></li></ul></li><li id="18834" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Средства, применяемые при лечении бесплодия</span><ul style="display: none;"><li id="18836"><i>Аналоги гонадотропин-рилизинг гормона</i></li><li id="18837"><i>Антагонисты гонадотропин-рилизинг гормона</i></li><li id="18842"><i>Антиэстрогенные препараты</i></li><li id="18841"><i>Гестагены</i></li><li id="18843"><i>Гомеопатические препараты</i></li><li id="18835"><i>Гонадотропные гормоны</i></li><li id="18839"><i>Ингибиторы секреции пролактина</i></li><li id="19428"><i>Препараты с протеолитической активностью</i></li><li id="18838"><i>Стимуляторы продукции гонадотропинов</i></li><li id="18840" class="last"><i>Эстрогены</i></li></ul></li><li id="17651" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Средства, применяемые при лечении бесплодия</span><ul style="display: none;"><li id="17653"><i>Аналоги гонадотропин-рилизинг гормона</i></li><li id="17654"><i>Антагонисты гонадотропин-рилизинг гормона</i></li><li id="17659"><i>Антиэстрогенные препараты</i></li><li id="17658"><i>Гестагены</i></li><li id="17661"><i>Гомеопатические препараты</i></li><li id="17652"><i>Гонадотропные гормоны</i></li><li id="17656"><i>Ингибиторы секреции пролактина</i></li><li id="17655"><i>Стимуляторы продукции гонадотропинов</i></li><li id="19519"><i>Фитопрепараты</i></li><li id="17657" class="last"><i>Эстрогены</i></li></ul></li><li id="18818" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Средства, применяемые при нарушениях менструального цикла</span><ul style="display: none;"><li id="18827"><i>Гомеопатические препараты</i></li><li id="19491"><i>Ингибиторы продукции гонадотропинов</i></li><li id="18825"><i>Ингибиторы секреции пролактина</i></li><li id="19492" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Препараты для симптоматической терапии дисфункциональных маточных кровотечений</span><ul style="display: none;"><li id="19494"><i>Антианемические препараты</i></li><li id="19493" class="last"><i>Гемостатические препараты</i></li></ul></li><li id="19784" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Препараты для симптоматической терапии синдрома предменструального напряжения</span><ul style="display: none;"><li id="19785"><i>Анксиолитики</i></li><li id="20165"><i>Венотонизирующие препараты</i></li><li id="20167"><i>Гомеопатические препараты</i></li><li id="20166" class="last"><i>Фитопрепараты</i></li></ul></li><li id="20130"><i>Препараты магния</i></li><li id="18819" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Препараты половых гормонов</span><ul style="display: none;"><li id="18823"><i>Андрогены</i></li><li id="18821" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Гестагены</span><ul style="display: none;"><li id="18822" class="last"><i>Для накожного применения при мастодинии</i></li></ul></li><li id="18820" class="last"><i>Эстрогены</i></li></ul></li><li id="18824"><i>Стимуляторы продукции гонадотропинов</i></li><li id="18826" class="last"><i>Фитопрепараты</i></li></ul></li><li id="17647" class="expandable"><div class="hitarea expandable-hitarea"></div><span>Средства, применяемые при функциональных нарушениях менструального цикла</span><ul style="display: none;"><li id="17649"><i>Гомеопатические препараты</i></li><li id="17650"><i>Препараты для симптоматической терапии предменструального синдрома</i></li><li id="17648" class="last"><i>Фитопрепараты</i></li></ul></li><li id="17622" class="expandable lastExpandable"><div class="hitarea expandable-hitarea lastExpandable-hitarea"></div><span>Средства, снижающие тонус и сократительную активность миометрия</span><ul style="display: none;"><li id="20047"><i>Антагонисты окситоцина</i></li><li id="20174"><i>Блокаторы м-холинорецепторов</i></li><li id="17624"><i>Миотропные спазмолитики</i></li><li id="19381"><i>Препараты магния</i></li><li id="17623" class="last"><i>Стимуляторы бета<sub>2</sub>-адренорецепторов</i></li></ul></li></ul>
</li>
<li id="17175" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>АЛЛЕРГОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="16755" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>АНАЛЬГЕТИКИ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="17513" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>АНЕСТЕЗИОЛОГИЯ. РЕАНИМАТОЛОГИЯ. ТРАНСФУЗИОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="16841" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>АНТИБАКТЕРИАЛЬНЫЕ СРЕДСТВА</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="17968" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>АНТИСЕПТИЧЕСКИЕ СРЕДСТВА</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="17405" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>ВИТАМИНЫ. ПОЛИВИТАМИНЫ. МИКРОЭЛЕМЕНТЫ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="17001" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>ГАСТРОЭНТЕРОЛОГИЯ. ГЕПАТОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="17470" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>ГЕМАТОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="17486" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>ГЕМОСТАЗ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="16773" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>ГЛЮКОКОРТИКОИДНЫЕ СРЕДСТВА (ГКС)</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="17983" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>ГОМЕОПАТИЧЕСКИЕ СРЕДСТВА</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="17953" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>ДИАГНОСТИЧЕСКИЕ СРЕДСТВА</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="17200" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>ИММУНОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="19844" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>ИНФЕКЦИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="16463" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>КАРДИОЛОГИЯ. АНГИОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="17336" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>НАРУШЕНИЯ ОБМЕНА ВЕЩЕСТВ И ЭНЕРГИИ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="16629" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>НЕВРОЛОГИЯ. ПСИХИАТРИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="17557" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>ОНКОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="17692" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>ОТОРИНОЛАРИНГОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="17764" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>ОФТАЛЬМОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="17441" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>ПИТАТЕЛЬНЫЕ СМЕСИ И ПРЕПАРАТЫ ДЛЯ ЛЕЧЕБНОГО ПИТАНИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="17816" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>ПРОКТОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="16971" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>ПРОТИВОВИРУСНЫЕ СРЕДСТВА</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="16800" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>ПРОТИВОВОСПАЛИТЕЛЬНЫЕ СРЕДСТВА</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="16954" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>ПРОТИВОГРИБКОВЫЕ СРЕДСТВА</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="16995" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>ПРОТИВОПАРАЗИТАРНЫЕ СРЕДСТВА</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="16929" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>ПРОТИВОПРОТОЗОЙНЫЕ СРЕДСТВА</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="18428" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>ПУЛЬМОНОЛОГИЯ. АЛЛЕРГОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="19645" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>РЕВМАТОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="17877" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>СРЕДСТВА ДЛЯ НАРУЖНОГО ПРИМЕНЕНИЯ. ДЕРМАТОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="18002" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>СРЕДСТВА РАСТИТЕЛЬНОГО ПРОИСХОЖДЕНИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="17735" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>СТОМАТОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="17974" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>ТОКСИКОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="17826" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span>УРОЛОГИЯ. НЕФРОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="17250" class="hasChildren expandable lastExpandable"><div class="hitarea hasChildren-hitarea expandable-hitarea lastExpandable-hitarea"></div>
	<span>ЭНДОКРИНОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
</ul>