{% for code in codes %}
	<li data="{{ code.Code }}">
		{% if code.list is defined %}
			<span class="t">{{ code.Code }}</span>
			{% if code.total %}
				<i>{{ code.Name|raw }}</i>
			{% else %}

			{% endif %}
			<ul>{% include 'VidalDrugBundle:Drugs:kfu_generator_render.html.twig' with {'codes':code.list} %}</ul>
		{% else %}
			<i>{{ code.Name|raw }}</i>
		{% endif %}
	</li>
{% endfor %}