{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
    <h1>Шаг третий - Выбор даты и времени</h1>
{% endblock %}

{% block content %}
            <div class="date-box">
                <div class="dateBox">
                    <span class="date">22 июня</span>
                    <span class="time">7:00</span>
                    <span class="time">8:00</span>
                    <span class="time">9:00</span>
                    <span class="time">10:00</span>
                </div>
                <div class="dateBox">
                    <span class="date">23 июня</span>
                    <span class="time">7:00</span>
                    <span class="time">8:00</span>
                    <span class="time">9:00</span>
                    <span class="time">10:00</span>
                </div>
                <div class="dateBox">
                    <span class="date">24 июня</span>
                    <span class="time">7:00</span>
                    <span class="time">8:00</span>
                    <span class="time">9:00</span>
                    <span class="time">10:00</span>
                </div>
            </div>
{% endblock %}




{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .spec-box{
            width: 280px;
        }
        .spec-box div{
            margin-top: -1px;
            border: 1px solid #cc0000;
            padding: 5px 10px;
        }

        .spec-box div:hover{
            background: #eeeeee;
            cursor: pointer;
        }

        .date{
            font-weight: bold;
        }
        .time{
            padding: 3px 10px;
            background: #eeeeee;
            border-radius: 4px;
        }
        .time:hover{
            border: 1px solid #CC0000;
            cursor: pointer;
        }
        .dateTime{
            height: 30px;
        }
    </style>
{% endblock %}