{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
    <h1>Ваши талоны</h1>
{% endblock %}

{% block content %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}