{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
    <h1>Ваши талоны</h1>
{% endblock %}

{% block content %}
    {% if appointmentList is empty %}
        <table>
            <tr>
                <th>Дата / время</th>
                <th>Специальность врача / Место</th>
            </tr>
            {% for appointment in appointmentList %}

            {% endfor %}
        </table>
    {% else %}
        Записи к врачам отсутствуют. <a href="{{ path('appointment_create') }}">Записаться</a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}