{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
	<h1>НОВОСТИ ФАРМАЦЕВТИЧЕСКИХ КОМПАНИЙ</h1>
{% endblock %}


{% block nav %}
	<div class="breadcrumbs">
		<a href="{{ path('index') }}">Видаль</a>
		<i></i>
		<a href="{{ path('vracham') }}">Информация для специалистов</a>
	</div>
{% endblock %}


{% block content %}
	{% include 'VidalMainBundle:Index:render_pharm_articles.html.twig' %}
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/publication.css') }}"/>
{% endblock %}