<div class="article-wrap">
	<div class="article-body">
		{{ article.body|raw }}
	</div>
	<div class="article-footer">
		<span class="article-date">{{ article.date|date('d.m.Y') }}</span>
	</div>
</div>