{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
	<h1>Видаль-Эксперт</h1>
{% endblock %}


{% block nav %}
	<div class="breadcrumbs">
		<a href="{{ path('index') }}">Видаль</a>
		<i></i>
		<a href="{{ path('vracham') }}">Информация для специалистов</a>
		<i></i>
		<span>Видаль-Эксперт</span>
	</div>
{% endblock %}


{% block content %}
	<div class="nc_list nc_text">
		<div class="nc_row">
			<h1 style="text-align: justify;">Поиск аналогов по МНН или по торговому наименованию</h1>

			<p style="text-align: justify;">В связи с переходом на выписывание рецептов по МНН Видаль предлагает врачам
				и провизорам новый сервис: поиск аналогов препаратов по торговому наименованию (с учетом способа
				введения данного препарата) и поиск торговых наименований по МНН –
				<a href="http://vidal.cloudapp.net/mobile/">http://vidal.cloudapp.net/mobile</a>
			</p><br>

			<h1 style="text-align: justify;">Проверка терапии</h1>

			<p style="text-align: justify;">Этот раздел призван помочь врачу принять решение при назначении
				лекарственных препаратов. Нам кажется, что провести проверку важно в нескольких случаях:</p>
			<ol>
				<li style="text-align: justify;">Вашему пациенту уже проводится лекарственная терапия. Но возникла
					необходимость применения дополнительных препаратов. Вы не уверены, безопасно ли применение такой
					комбинации. Проверьте, нет ли между назначаемыми средствами взаимодействия. <br>
					<a href="/vracham/expert/vzaimodeistvie/">Проверка лекарственного взаимодействия<br>
					</a></li>
				<li style="text-align: justify;">У Вашего пациента есть аллергия на определенные лекарственные средства.
					Вы назначаете другие препараты из другой группы и хотите удостовериться, что у этих препаратов нет
					перекрестной аллергии. <br>
					<a href="/vracham/expert/allergiya/">Проверка перекрестной аллергии</a></li>
			</ol>
			<h1 style="text-align: justify;">Файлы для загрузки</h1>

			<p style="text-align: justify;">В электронном справочнике Видаль «Лекарственные препараты в России» 2014
				года представлена информация о 2000 лекарственных препаратах и активных веществах, представленных на
				российском фармацевтическом рынке 235 предприятиями и фирмами 40 стран. <br>
				<a href="/vracham/expert/Vidal-CD/">Скачать справочник Видаль «Лекарственные препараты в России» 2014
					года<br type="_moz">
					<br>
				</a></p>

			<h1 style="text-align: justify;">Антибиотикотерапия</h1>

			<p style="text-align: justify;">В этом разделе приведены рекомендации по антибиотикотерапии. Каждый топик
				сформирован так, чтобы любой клиницист имел возможность получить самые современные знания, основанные на
				монографиях, проведенных клинических исследованиях, данных, основанных на методах доказательной
				медицины, а также рекомендациях CDC (центра по контролю за заболеваемостью).<br>
				<a href="http://www.vidal.ru/vracham/expert/Antibiotikoterapia/">Антибиотикотерапия</a>.</p>

			<p>&nbsp;</p></div>
	</div>
{% endblock %}