<a href="http://www.vidal.ru/unsubscribe-digest/{{ user.id }}/{{ user.created }}">этой ссылке</a>.
<img
	src="http://www.google-analytics.com/collect?v=1&tid=UA-45285788-1&cid={{ user.id }}&t=event&ec=delivery-1&ea=open&el=recipient_id&cs=newsletter&cm=email&cn=delivery"/>

</td>
</tr>
</table>

</body>
</html>