body {
	margin:0;
	padding:0;
	background: #dcdcdc url(bg.png) repeat-x;
	color: #000000; 
	font-size: 12px;
	height: 100%;
}

a:link, a:hover, a:active, a:visited {
	color: blue;
	text-decoration: underline;
}

h1, h2, h3, h1 a, h2 a, h3 a, h1 a:link, h1 a:visited, h1 a:hover, h1 a:active, h2 a:link, h2 a:visited, h2 a:hover, h2 a:active, h3 a:link, h3 a:visited, h3 a:hover, h3 a:active {
	color: #b9033c;
	font-family: Arial, Verdana, Helvetica, Sans-serif;
	font-size: 14px;
	font-weight: bold;
	background: none;
}

h1 {
	background: #dedede;
	margin-top: 0;
}

div.h1, div.h1 span {
	color: #b9033c;
	background: #dedede;
}


h3 {
	font-weight: normal;
}

#container {
	margin: 0px auto;
	width: 988px;
	height: 100%;
	background: #ffffff;
}
*:first-child+html #container {
	background: #ffffff url(bg2.png) repeat-x 0 285px;
}
#header {
	width: 988px;
	height: 265px;
}
*:first-child+html #header {
	height: 285px;
}
#ads_header_top {
	height: 90px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-top: 2px solid #b9033c;
	border-bottom: 2px solid #b9033c;
}
#ads_header_top .banner320 {
	width: 300px;
	height: 100px;
	float: left;
	margin-right: 44px;
}
#ads_header_top .banner320:last-child {
	margin-right: 0;
}
#ads_main_top {
	width: 728px;
	height: 90px;
	float:left;
	margin-bottom: 20px;
}
#logo {
	width: 200px;
	height: 70px;
	float:left;
}
#logo a.addtofav {
	display: block;
	float:right;
	color: gray;
	text-decoration: none;
	font-size: 10px;
	position: relative;
	top: -5px;
	right: 13px;
}
#logo a:hover {
	color: black;
	text-decoration: none;
}
#logo_search {
	width: 400px;
	height: 70px;
	float: left;
	margin-left: 135px;
}
#logo_search h1 {
	font-size: 15px;
	font-weight: bold;
	color: #b9033c;
	background: #ffffff;
	margin: 0 0 5px 0;
	padding: 0;
}
#logo_search input {
	width: 300px;
	height: 16px;
	margin: 0;
	padding: 0;
}
#logo_search .button {
	width: 50px;
	height: 20px;
	color: #ffffff;
	background: #b9033c;
	border: 1px solid #b9033c;
}
#logo_search a, #logo_search a:hover, #logo_search a:active {
	color: blue;
	text-decoration: underline;
}

#logo_menu {
	width: 180px;
	height: 70px;
	float: left;
	margin-left: 60px;
	font-size: 13px;
	font-weight: bold;
}
#logo_menu a {
	display: block;
	color: #b9033c;
	margin-bottom: 4px;
}
#main_menu {
	clear: left;
	border-top: 2px solid #b9033c;
	background: #898989 url(bg-menu.gif) repeat-x;
	font-size: 13px;
	font-weight: bold;
	color: #ffffff;
	height: 25px;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
#main_menu li, #sub_menu li {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	float: left;
}
#main_menu li:hover, #main_menu .menu_selected {
	background: #b9033c url(bg-menu-selected.gif) repeat-x;
}
#main_menu a:link, #main_menu a:visited, #main_menu a:active, #main_menu a:hover {
	height:22px;
	padding: 3px 8px 0px 8px;
	color: #ffffff; 
	text-decoration: none; 
	background: url(bg-menu-divider.gif) no-repeat top right;
	display: block;
} 
#sub_menu {
	background: url(bg-menu2.gif) repeat-x top left;
	font-size: 13px;
	font-weight: normal;
	color: #000000;
	padding: 0;
	margin: 0;
	height:40px;
	overflow: hidden;
}
#sub_menu a:link, #sub_menu a:visited, #sub_menu a:active, #sub_menu a:hover {
	padding: 0px 10px 0px 8px;
	color: #000000; 
	text-decoration: none; 
	background: url(bg-menu-divider.gif) no-repeat top right;
	display: block;
	margin: 0;
} 
#sub_menu a:hover {
	color: #b9033c; 
}

.sub_menu_item {
	height: 18px;
	display: none;
	padding: 2px 0 0 0;
	margin: 0;
	border-bottom: 1px solid #9c9c9c;
}
.sub_menu_item li {
	margin-bottom: 5px;
}


#main {
	height: 100%;
}

#left_column{
	clear:left;
	width: 160px;
	float: left;
	margin-right: 20px;
}
#right_column {
	width: 240px;
	background: #f2f2f2;
	float: right;
	margin: 0px 0px 0px 0px;
}

#content {
	width:548px;
	max-width:728px;
	float: left;
}


#footer {
	clear: both;
	background:#dcdcdc;
	height: 25px;
	width: 988px;
	padding-top: 5px;
	font-size: 12px;
	color: #000;
	text-align: center;
}
#footer a {
	color: #000;
}

table.mainpage {
	width: 728px;
	border: 0;
	border-collapse: collapse;
	background-color: white;
}
table.mainpage td {
	width: 210px;
	height: 210px;
	padding: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: #dedede;
	vertical-align: top;
	overflow: hidden;
}
table.mainpage td.cellimage, table.section_header td.cellimage {
	padding: 0;
	text-align: center;
	vertical-align: middle;
}
td.gray {
	background: #f2f2f2 url(bg-table-cell.jpg) repeat-x top left;
}

table.mainpage h1, table.mainpage h2, table.mainpage h1 a, table.mainpage h2 a,  table.section_header h1, table.section_header h1 a, table.section_header a h1 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 0;
	margin: 0 0 8px 0;
	background: none;
	border: none;
	color: #b9033c;
	text-decoration: none;
}

table.section_header h1, table.section_header h1 a, table.section_header a h1 {
	font-size: 12px;
}

table.mainpage h1 a, table.mainpage a h1, table.section_header h1 a,  table.section_header a h1 {
	color: blue;
	text-decoration: underline;
}

table.mainpage ul {
	padding: 0;
}

table.mainpage li, table.section_header li {
	color: #b9033c;
	list-style: square inside;
}

table.mainpage small {
	font-size: 10px;
	font-weight: bold;
	display: block;
	margin-top: 10px;
}

.imgMarginRight10 img {
	margin-right: 15px;
	margin-bottom: 5px;
	float:left;
}
.aBlockBottom a {
	display:block;
	margin-bottom: 5px;
}

table.section_header {
	width: 100%;
	border: 0;
	border-collapse: collapse;
	background-color: white;
}
table.section_header td {
	width: 50%;
	height: 210px;
	padding: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: #dedede;
	vertical-align: top;
	overflow: hidden;
}

table.section_header table td {
	width: auto;
	height: auto;
	padding: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: red;
}

.nc_news {
	background: transparent;
	border: none;
	margin: 5px 10px 10px 10px;
}
.nc_date {
	font-style: italic;
	font-size: 13px;
}
.nc_listheader, .nc_listheader a {
	font-weight: normal;
	color: blue;
	text-decoration: underline;
}

#right_column h2 {
	color: #b9033c;
	font-family: Arial, Verdana, Helvetica, Sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 19px;
}

div.schools_archive, div.section_list {
	width: 170px;
	float: left;
	margin-right: 10px;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: bold;
}

div.article {
	padding: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: gray;	
}

#brdcmbs {
	width: 100%;
	padding-top: 20px;
	padding-left: 10px;
}
#brdcmbs a, #brdcmbs a:link, #brdcmbs a:hover, #brdcmbs a:active, #brdcmbs a:visited  {
	display: inline;
	border: 0;
	margin: 0;
	padding: 0;
	background: none;
	color: #b9033c;
}

#brdcmbs i {
	font-family: Tahoma, Times, Serif;
	font-size: 18px;
	line-height: 14px;
	font-weight: bold;
	font-style: normal;
	margin-right: 5px;
}

#query {
	width: 200px;
	color: gray;
	text-decoration: italic;
}

.warnText {
	color: #B9033C;
	font-size: 14px;
}

