{% extends 'VidalMainBundle::layout.html.twig' %}


{% block nav %}
	<div class="breadcrumbs">
		<a href="{{ path('index') }}">Видаль</a>
		<i></i>
		<span>Новости</span>
	</div>
{% endblock %}


{% block content %}
	{% if publicationsPriority is defined and publicationsPriority is not empty %}
		<div class="title">Актуальные новости</div>
		<div class="sticky">
			{% include 'VidalMainBundle:Index:render_news.html.twig' with {'news':publicationsPriority, 'without_date':1} %}
		</div>
	{% endif %}

	<div class="title">Новости медицины и фармации</div>
	{% include 'VidalMainBundle:Index:render_news.html.twig' with {'news':publicationsPagination, 'showTags':1} %}

	<div class="navigation">
		{{ knp_pagination_render(publicationsPagination) }}
	</div>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/publication.css') }}"/>
	<style type="text/css">
		.sticky {
			margin-bottom: 20px;
		}
	</style>
{% endblock %}
