{% extends 'VidalMainBundle::layout.html.twig' %}


{% block content %}

	<h1>НОВОСТИ</h1>

	<div class="breadcrumbs">
		<a href="{{ path('index') }}">Видаль</a>
		<i></i>
		<span>Новости</span>
	</div>

	{% if isAdmin %}
		{% include 'VidalMainBundle:Index:render_publications_admin.html.twig' %}
	{% else %}
		{% include 'VidalMainBundle:Index:render_publications.html.twig' %}
	{% endif %}

{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/publication.css') }}"/>
{% endblock %}
