{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
	<h1>НОВОСТИ</h1>
{% endblock %}


{% block nav %}
	<div class="breadcrumbs">
		<a href="{{ path('index') }}">Видаль</a>
		<i></i>
		<span>Новости</span>
	</div>
{% endblock %}


{% block content %}
	{% include 'VidalMainBundle:Index:render_news.html.twig' with {'news':publicationsPagination} %}

	<div class="navigation">
		{{ knp_pagination_render(publicationsPagination) }}
	</div>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/publication.css') }}"/>
{% endblock %}
