{% extends layout | default('EvrikaMainBundle::minimal_layout.html.twig') %}

{% block body %}
	<p style="font-family:Verdana,sans-serif;font-size:12px;color:#000000;">
		<b>{{ user.getPoliteReference() }}</b>,<p>

	<p style="font-family:Verdana,sans-serif;font-size:12px;color:#000000;">
		Ваш почтовый адрес был изменен с <b>{{ oldEmail }}</b> на <b>{{ user.username }}</b> (этот).<br/>

	<p style="font-family:Verdana,sans-serif;font-size:12px;color:#000000;">
		Если в процессе смены почтового адреса возникли трудности,<br/>
		пожалуйста, сообщите об этом в форме <a href="{{ url('contacts') }}">обратной связи</a></p>

	{% include 'EvrikaMainBundle:Email:signature.html.twig' %}
{% endblock %}