{% extends layout | default('EvrikaMainBundle::minimal_layout.html.twig') %}

{% block body %}
	<p>{{ user.getPoliteReference() }},<p>
	<p>Вы запросили сброс пароля на портале Evrika.ru.<br/>
		Ваш новый пароль: <b style="font-size:18px; margin-left:10px">{{ user.password }}</b></p>
	<p>На своей странице вы всегда можете поменять пароль на тот, который вам больше нравится.</p>

	{%  include 'EvrikaMainBundle:Email:signature.html.twig' %}
{% endblock %}