{% extends layout | default('EvrikaMainBundle::minimal_layout.html.twig') %}

{% block body %}
	<p style="font-family:Verdana,sans-serif;font-size:12px;color:#000000;">
		<b>{{ user.getPoliteReference() }}</b>,<p>

	<p style="font-family:Verdana,sans-serif;font-size:12px;color:#000000;">
		Вы запросили смену почтового адреса на портале Evrika.ru.</p>

	<p style="font-family:Verdana,sans-serif;font-size:12px;color:#000000;">
		Для того, чтобы завершить процедуру, осталось пройти по ссылке:<br/>
		{{ url('confirm_change_email', {'newEmail':newEmail, 'hash':user.hash}) }}</p>

	{% include 'EvrikaMainBundle:Email:signature.html.twig' %}
{% endblock %}