{% extends 'VidalMainBundle::minimal_layout.html.twig' %}

{% block body %}
	<p>Благодарим за пребывание на портале Vidal.ru!</p>

	{% include 'VidalMainBundle:Email:signature.html.twig' %}
{% endblock %}