{% extends layout | default('EvrikaMainBundle::minimal_layout.html.twig') %}

{% block body %}
	<p>{{ user.getPoliteReference() }},<p>
	<p>Вы запросили сброс пароля на портале Evrika.ru. Для того чтобы подтвердить сброс пароля перейдите по следующей ссылке:</p>
	<p>{{ url('confirm_password_reset', {'userId': user.id, 'hash': user.hash}) }}</p>
	<p>Новый пароль будет выслан вам отдельным письмом</p>

	{%  include 'EvrikaMainBundle:Email:signature.html.twig' %}
{% endblock %}