{% extends layout | default('EvrikaMainBundle::minimal_layout.html.twig') %}

{% block body %}
	<p>{{ user.getPoliteReference() }}, благодарим за регистрацию на портале Evrika.ru!</p>
    <p>Для доступа к своей странице используйте стандартную форму авторизации на сайте. 
    <p>Обратите внимание, что компания будет активирована после проверки модератором.
	
	<p><a href="{{ url('company_feed', {'groupId': company.id}) }}">Перейти на страницу компании</a>.</p>

	{% include 'EvrikaMainBundle:Email:signature.html.twig' %}
{% endblock %}