{# ?utm_campaign=Evrika&utm_source=External%20traffic&utm_medium=Social%20Media&utm_term=mail_review #}
<div style="background: #FFFFFF; text-align: center;">
<div style="background: #EEEEEE; width: 649px; margin: 0 auto; text-align: left;">
<table  cellpadding="0" cellspacing="0">
<tr>
<td>
<div class="header"  style="background: #FFFFFF;">
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td style="vertical-align: top;width: 200px;">
                <img src="http://univadis.evrika.ru/img/logo.png" style="padding-right: 10px;">
            </td>
            <td class="head-img">
                <img src="http://univadis.evrika.ru/img/icon_free.png">
            </td>
            <td class="blue head-text" style="color: #203c6b; font-size: 10px;">
                &nbsp;Бесплатный  <br />&nbsp;доступ
            </td>
            <td class="head-img">
                <img src="http://univadis.evrika.ru/img/icon_block.png">
            </td>
            <td class="blue head-text" style="color: #203c6b; font-size: 10px;">
                &nbsp;Не&nbsp;содержит&nbsp;&nbsp;  <br />&nbsp;рекламы
            </td>
            <td class="head-img">
                <img src="http://univadis.evrika.ru/img/icon_russian.png">
            </td>
            <td class="blue head-text" style="color: #203c6b; font-size: 10px;">
                &nbsp;На&nbsp;русском <br />&nbsp;языке
            </td>
            <td style="width: 125px"></td>
            <td>
                <img src="http://univadis.evrika.ru/img/help-logo-3.png">
            </td>
        </tr>
    </table>
</div>

<div style="padding-left: 10px; padding-bottom: 10px; background: #EEEEEE;">
    <table>
        <tr>
            <td style="text-align:center;color: #214D90; font-size: 22px;font-family: 'PT Sans Narrow', sans-serif;">
                <b style="padding: 10px 0">
                    Один раз увидеть
                </b>
            </td>
        </tr>
    </table>
</div>

<table cellpadding="0" cellspacing="0">
<tr>
    <td style="padding-bottom: 5px; padding-right: 10px; padding-left: 10px; font-family: 'PT Sans Narrow', sans-serif;" colspan="2">
        <div  style="border-radius: 0 5px 5px 0;">
            <p>
                Блестящая базовая теоретическая подготовка очень много значит в компетенции врача. Но опыт нельзя заменить ничем и никогда. Что такое опыт? Опыт — память об увиденном самостоятельно. Трудно забыть диафрагмальную грыжу на обычном обзорном Rg-снимке, если сам этот снимок держал в руках. А инородное тело наружного слухового прохода? А кожные проявления атипичного туберкулеза?
            </p>
            <p>
                Если не видели, у вас-таки есть такая возможность. Богатейшая коллекция изображений (фотографии, рентгенографии, компьютерные томограммы и редкие отоскопические снимки) готова стать полезнейшим подспорьем как для начинающего интерна, так и для многоопытного практика. Коллекция изображений предоставлена издательством Springer и экспертами Merck Publishing Group, а, значит, ценность коллекции не вызывает сомнений.
            </p>
            <p>
                Можно выбрать изображения только по своей специальности, можно искать конкретный клинический случай. <a href="http://www.univadis.ru/medical-media-library#?s=2&f0=-1&sps=1?utm_campaign=Evrika&utm_source=External%20traffic&utm_medium=Social%20Media&utm_term=mail_review">Библиотека изображений</a> — чужой опыт вам в помощь.
            </p>
        </div>
    </td>
</tr>
    <tr>
        <td align="center" valign="top" style="font-family:Arial,Helvetica,sans-serif;font-size:20px;color:#204d7a;padding:0 0 10px 0;font-weight:bold">Самые популярные КТ снимки и клинические случаи</td>
    </tr>
    <tr>
        <td align="left" valign="top" style="padding:0 9px 15px 9px"><table width="260" border="0" cellspacing="0" cellpadding="0" align="left">
                <tbody><tr>
                    <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                                <td align="left" valign="top" style="padding:0 0 10px 0"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody><tr>
                                            <td width="25" align="left" valign="top" style="padding:0 10px 0 0"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody><tr>
                                                        <td align="left" valign="top" bgcolor="#204d7a"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tbody><tr>
                                                                    <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tbody><tr>
                                                                                <td width="4" align="left" valign="top" style="font-size:0px;line-height:0px"><img src="http://images.univadis.com/sites/univadis1-7/master/_responsive2/appCT/UE_E_2270131_M/images/number_box_tl.gif" alt="" width="4" height="4" style="display:block" border="0"></td>
                                                                                <td width="17" align="left" valign="top" style="font-size:0px;line-height:0px"><img src="http://images.univadis.com/sites/univadis1-7/master/_responsive2/appCT/UE_E_2270131_M/images/spacer.gif" alt="" width="17" height="4" style="display:block" border="0"></td>
                                                                                <td width="4" align="left" valign="top" style="font-size:0px;line-height:0px"><img src="http://images.univadis.com/sites/univadis1-7/master/_responsive2/appCT/UE_E_2270131_M/images/number_box_tr.gif" alt="" width="4" height="4" style="display:block" border="0"></td>
                                                                            </tr>
                                                                            </tbody></table></td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="25" align="center" valign="middle" style="font-family:Arial,Helvetica,sans-serif;color:#ffffff;font-size:15px;font-weight:bold">1</td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tbody><tr>
                                                                                <td width="4" align="left" valign="top" style="font-size:0px;line-height:0px"><img src="http://images.univadis.com/sites/univadis1-7/master/_responsive2/appCT/UE_E_2270131_M/images/number_box_bl.gif" alt="" width="4" height="4" style="display:block" border="0"></td>
                                                                                <td width="17" align="left" valign="top" style="font-size:0px;line-height:0px"><img src="http://images.univadis.com/sites/univadis1-7/master/_responsive2/appCT/UE_E_2270131_M/images/spacer.gif" alt="" width="17" height="4" style="display:block" border="0"></td>
                                                                                <td width="4" align="left" valign="top" style="font-size:0px;line-height:0px"><img src="http://images.univadis.com/sites/univadis1-7/master/_responsive2/appCT/UE_E_2270131_M/images/number_box_br.gif" alt="" width="4" height="4" style="display:block" border="0"></td>
                                                                            </tr>
                                                                            </tbody></table></td>
                                                                </tr>
                                                                </tbody></table></td>
                                                    </tr>
                                                    </tbody></table></td>
                                            <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody><tr>
                                                        <td align="left" valign="top" style="font-family:Arial,Helvetica,sans-serif;color:#f39700;font-size:12px;padding:0 0 0 0;font-weight:bold"><a href="http://www.univadis.ru/medical-media-library#?q=bone+metastasis+oncology&s=4&f0=-1&sps=1&utm_campaign=Evrika&utm_source=External%20traffic&utm_medium=Social%20Media&utm_term=mail_review" style="color:#f39700;text-decoration:none" target="_blank">Онкология<br>
                                                                <span style="color:#204d7a;font-size:14px;text-decoration:underline">Костные метастазы<br /><br /></span></a></td>
                                                    </tr>
                                                    </tbody></table></td>
                                        </tr>
                                        </tbody></table></td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" style="padding:0 0 10px 0px"><a href="http://www.univadis.ru/medical-media-library#?q=bone+metastasis+oncology&s=4&f0=-1&sps=1&utm_campaign=Evrika&utm_source=External%20traffic&utm_medium=Social%20Media&utm_term=mail_review" style="color:#000001;text-decoration:none" target="_blank"><img src="http://images.univadis.com/sites/univadis1-7/master/_responsive2/appCT/UE_E_2270131_M/images/sub_img_01.jpg" alt="" width="260" style="display:block" border="0"></a></td>
                            </tr>
                            </tbody></table></td>
                </tr>
                </tbody></table>
            <table width="260" border="0" cellspacing="0" cellpadding="0" align="right">
                <tbody><tr>
                    <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                                <td align="left" valign="top" style="padding:0 0 10px 0"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody><tr>
                                            <td width="25" align="left" valign="top" style="padding:0 10px 0 0"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody><tr>
                                                        <td align="left" valign="top" bgcolor="#204d7a"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tbody><tr>
                                                                    <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tbody><tr>
                                                                                <td width="4" align="left" valign="top" style="font-size:0px;line-height:0px"><img src="http://images.univadis.com/sites/univadis1-7/master/_responsive2/appCT/UE_E_2270131_M/images/number_box_tl.gif" alt="" width="4" height="4" style="display:block" border="0"></td>
                                                                                <td width="17" align="left" valign="top" style="font-size:0px;line-height:0px"><img src="http://images.univadis.com/sites/univadis1-7/master/_responsive2/appCT/UE_E_2270131_M/images/spacer.gif" alt="" width="17" height="4" style="display:block" border="0"></td>
                                                                                <td width="4" align="left" valign="top" style="font-size:0px;line-height:0px"><img src="http://images.univadis.com/sites/univadis1-7/master/_responsive2/appCT/UE_E_2270131_M/images/number_box_tr.gif" alt="" width="4" height="4" style="display:block" border="0"></td>
                                                                            </tr>
                                                                            </tbody></table></td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="25" align="center" valign="middle" style="font-family:Arial,Helvetica,sans-serif;color:#ffffff;font-size:15px;font-weight:bold">2</td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tbody><tr>
                                                                                <td width="4" align="left" valign="top" style="font-size:0px;line-height:0px"><img src="http://images.univadis.com/sites/univadis1-7/master/_responsive2/appCT/UE_E_2270131_M/images/number_box_bl.gif" alt="" width="4" height="4" style="display:block" border="0"></td>
                                                                                <td width="17" align="left" valign="top" style="font-size:0px;line-height:0px"><img src="http://images.univadis.com/sites/univadis1-7/master/_responsive2/appCT/UE_E_2270131_M/images/spacer.gif" alt="" width="17" height="4" style="display:block" border="0"></td>
                                                                                <td width="4" align="left" valign="top" style="font-size:0px;line-height:0px"><img src="http://images.univadis.com/sites/univadis1-7/master/_responsive2/appCT/UE_E_2270131_M/images/number_box_br.gif" alt="" width="4" height="4" style="display:block" border="0"></td>
                                                                            </tr>
                                                                            </tbody></table></td>
                                                                </tr>
                                                                </tbody></table></td>
                                                    </tr>
                                                    </tbody></table></td>
                                            <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody><tr>
                                                        <td align="left" valign="top" style="font-family:Arial,Helvetica,sans-serif;color:#f39700;font-size:12px;padding:0 0 0 0;font-weight:bold"><a href="http://www.univadis.ru/medical-media-library#?q=Uterus+AVF&s=4&f0=-1&sps=1&utm_campaign=Evrika&utm_source=External%20traffic&utm_medium=Social%20Media&utm_term=mail_review" style="color:#f39700;text-decoration:none" target="_blank">Акушерство и гинекология<br>
                                                                <span style="color:#204d7a;font-size:14px;text-decoration:underline">Артериовенозная фистула матки</span></a></td>
                                                    </tr>
                                                    </tbody></table></td>
                                        </tr>
                                        </tbody></table></td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" style="padding:0 0 10px 0px"><a href="http://www.univadis.ru/medical-media-library#?q=Uterus+AVF&s=4&f0=-1&sps=1&utm_campaign=Evrika&utm_source=External%20traffic&utm_medium=Social%20Media&utm_term=mail_review" style="color:#000001;text-decoration:none" target="_blank"><img src="http://images.univadis.com/sites/univadis1-7/master/_responsive2/appCT/UE_E_2270131_M/images/sub_img_02.jpg" alt="" width="260" style="display:block" border="0"></a></td>
                            </tr>
                            </tbody></table></td>
                </tr>
                </tbody></table></td>
    </tr>
<tr>
    <td align="left" valign="top" style="padding:0 9px 5px 9px"><table width="260" border="0" cellspacing="0" cellpadding="0" align="left">
            <tbody><tr>
                <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody><tr>
                            <td align="left" valign="top" style="padding:0 0 10px 0"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody><tr>
                                        <td width="25" align="left" valign="top" style="padding:0 10px 0 0"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tbody><tr>
                                                    <td align="left" valign="top" bgcolor="#204d7a"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tbody><tr>
                                                                <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody><tr>
                                                                            <td width="4" align="left" valign="top" style="font-size:0px;line-height:0px"><img src="http://images.univadis.com/sites/univadis1-7/master/_responsive2/appCT/UE_E_2270131_M/images/number_box_tl.gif" alt="" width="4" height="4" style="display:block" border="0"></td>
                                                                            <td width="17" align="left" valign="top" style="font-size:0px;line-height:0px"><img src="http://images.univadis.com/sites/univadis1-7/master/_responsive2/appCT/UE_E_2270131_M/images/spacer.gif" alt="" width="17" height="4" style="display:block" border="0"></td>
                                                                            <td width="4" align="left" valign="top" style="font-size:0px;line-height:0px"><img src="http://images.univadis.com/sites/univadis1-7/master/_responsive2/appCT/UE_E_2270131_M/images/number_box_tr.gif" alt="" width="4" height="4" style="display:block" border="0"></td>
                                                                        </tr>
                                                                        </tbody></table></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="25" align="center" valign="middle" style="font-family:Arial,Helvetica,sans-serif;color:#ffffff;font-size:15px;font-weight:bold">3</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody><tr>
                                                                            <td width="4" align="left" valign="top" style="font-size:0px;line-height:0px"><img src="http://images.univadis.com/sites/univadis1-7/master/_responsive2/appCT/UE_E_2270131_M/images/number_box_bl.gif" alt="" width="4" height="4" style="display:block" border="0"></td>
                                                                            <td width="17" align="left" valign="top" style="font-size:0px;line-height:0px"><img src="http://images.univadis.com/sites/univadis1-7/master/_responsive2/appCT/UE_E_2270131_M/images/spacer.gif" alt="" width="17" height="4" style="display:block" border="0"></td>
                                                                            <td width="4" align="left" valign="top" style="font-size:0px;line-height:0px"><img src="http://images.univadis.com/sites/univadis1-7/master/_responsive2/appCT/UE_E_2270131_M/images/number_box_br.gif" alt="" width="4" height="4" style="display:block" border="0"></td>
                                                                        </tr>
                                                                        </tbody></table></td>
                                                            </tr>
                                                            </tbody></table></td>
                                                </tr>
                                                </tbody></table></td>
                                        <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tbody><tr>
                                                    <td align="left" valign="top" style="font-family:Arial,Helvetica,sans-serif;color:#f39700;font-size:12px;padding:0 0 0 0;font-weight:bold"><a href="http://www.univadis.ru/medical-media-library#?q=Occlusion+1st+diagonal&s=4&f0=-1&sps=1&utm_campaign=Evrika&utm_source=External%20traffic&utm_medium=Social%20Media&utm_term=mail_review" style="color:#f39700;text-decoration:none" target="_blank">Кардиология<br>
                                                            <span style="color:#204d7a;font-size:14px;text-decoration:underline">Закупорка коронарной артерии</span></a></td>
                                                </tr>
                                                </tbody></table></td>
                                    </tr>
                                    </tbody></table></td>
                        </tr>
                        <tr>
                            <td align="left" valign="top" style="padding:0 0 10px 0px"><a href="http://www.univadis.ru/medical-media-library#?q=Occlusion+1st+diagonal&s=4&f0=-1&sps=1&utm_campaign=Evrika&utm_source=External%20traffic&utm_medium=Social%20Media&utm_term=mail_review" style="color:#000001;text-decoration:none" target="_blank"><img src="http://images.univadis.com/sites/univadis1-7/master/_responsive2/appCT/UE_E_2270131_M/images/sub_img_03.jpg" alt="" width="260" style="display:block" border="0"></a></td>
                        </tr>
                        </tbody></table></td>
            </tr>
            </tbody></table>
        <table width="260" border="0" cellspacing="0" cellpadding="0" align="right">
            <tbody><tr>
                <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody><tr>
                            <td align="left" valign="top" style="padding:0 0 10px 0"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody><tr>
                                        <td width="25" align="left" valign="top" style="padding:0 10px 0 0"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tbody><tr>
                                                    <td align="left" valign="top" bgcolor="#204d7a"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tbody><tr>
                                                                <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody><tr>
                                                                            <td width="4" align="left" valign="top" style="font-size:0px;line-height:0px"><img src="http://images.univadis.com/sites/univadis1-7/master/_responsive2/appCT/UE_E_2270131_M/images/number_box_tl.gif" alt="" width="4" height="4" style="display:block" border="0"></td>
                                                                            <td width="17" align="left" valign="top" style="font-size:0px;line-height:0px"><img src="http://images.univadis.com/sites/univadis1-7/master/_responsive2/appCT/UE_E_2270131_M/images/spacer.gif" alt="" width="17" height="4" style="display:block" border="0"></td>
                                                                            <td width="4" align="left" valign="top" style="font-size:0px;line-height:0px"><img src="http://images.univadis.com/sites/univadis1-7/master/_responsive2/appCT/UE_E_2270131_M/images/number_box_tr.gif" alt="" width="4" height="4" style="display:block" border="0"></td>
                                                                        </tr>
                                                                        </tbody></table></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="25" align="center" valign="middle" style="font-family:Arial,Helvetica,sans-serif;color:#ffffff;font-size:15px;font-weight:bold">4</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody><tr>
                                                                            <td width="4" align="left" valign="top" style="font-size:0px;line-height:0px"><img src="http://images.univadis.com/sites/univadis1-7/master/_responsive2/appCT/UE_E_2270131_M/images/number_box_bl.gif" alt="" width="4" height="4" style="display:block" border="0"></td>
                                                                            <td width="17" align="left" valign="top" style="font-size:0px;line-height:0px"><img src="http://images.univadis.com/sites/univadis1-7/master/_responsive2/appCT/UE_E_2270131_M/images/spacer.gif" alt="" width="17" height="4" style="display:block" border="0"></td>
                                                                            <td width="4" align="left" valign="top" style="font-size:0px;line-height:0px"><img src="http://images.univadis.com/sites/univadis1-7/master/_responsive2/appCT/UE_E_2270131_M/images/number_box_br.gif" alt="" width="4" height="4" style="display:block" border="0"></td>
                                                                        </tr>
                                                                        </tbody></table></td>
                                                            </tr>
                                                            </tbody></table></td>
                                                </tr>
                                                </tbody></table></td>
                                        <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tbody><tr>
                                                    <td align="left" valign="top" style="font-family:Arial,Helvetica,sans-serif;color:#f39700;font-size:12px;padding:0 0 0 0;font-weight:bold"><a href="http://www.univadis.ru/medical-media-library#?q=sinusitis&s=4&f0=-1&sps=1&utm_campaign=Evrika&utm_source=External%20traffic&utm_medium=Social%20Media&utm_term=mail_review" style="color:#f39700;text-decoration:none" target="_blank">Общая терапия<br>
                                                            <span style="color:#204d7a;font-size:14px;text-decoration:underline">Синусит</span></a></td>
                                                </tr>
                                                </tbody></table></td>
                                    </tr>
                                    </tbody></table></td>
                        </tr>
                        <tr>
                            <td align="left" valign="top" style="padding:0 0 10px 0px"><a href="http://www.univadis.ru/medical-media-library#?q=sinusitis&s=4&f0=-1&sps=1&utm_campaign=Evrika&utm_source=External%20traffic&utm_medium=Social%20Media&utm_term=mail_review" style="color:#000001;text-decoration:none" target="_blank"><img src="http://images.univadis.com/sites/univadis1-7/master/_responsive2/appCT/UE_E_2270131_M/images/sub_img_04.jpg" alt="" width="260" style="display:block" border="0"></a></td>
                        </tr>
                        </tbody></table></td>
            </tr>
            </tbody></table></td>
</tr>
<tr>
    <td align="center" valign="top" style="font-family:Arial,Helvetica,sans-serif;font-size:18px;color:#204d7a;padding:0 9px 15px 9px;font-weight:bold"><a style="color:#204d7a;text-decoration:none" href="http://www.univadis.ru/medical-media-library#?s=2&f0=-1&sps=1&utm_campaign=Evrika&utm_source=External%20traffic&utm_medium=Social%20Media&utm_term=mail_review"><span style="text-decoration:underline">Посмотрите</span> последние КТ снимки и клинические случаи</a></td>
</tr>
</table>
</td>
</tr>
</table>
<br />
<br />
</div>
</div>