{% extends 'VidalDrugBundle::vidal_layout.html.twig' %}


{% block title %}
	<h1>{{ products[0].RusName|raw }}</h1>
{% endblock %}


{% block vidal %}
	{% include 'VidalDrugBundle:Vidal:render_products.html.twig' %}
{% endblock %}