<div class="menu menu-big">
	<a href="#" class="menu-drugs{{ menu_big is defined and menu_big == 'drugs' ? ' active' }}"></a>
	<a href="#" class="menu-symptoms{{ menu_big is defined and menu_big == 'symptoms' ? ' active' }}"></a>
	<a href="#" class="menu-doctors{{ menu_big is defined and menu_big == 'doctors' ? ' active' }}"></a>
	<a href="#" class="menu-pharmacy{{ menu_big is defined and menu_big == 'pharmacy' ? ' active' }}"></a>
</div>