{% if not app.user %}
	<div id="popupvidal" class="popup">
		<img id="closepopupvidal" src="{{ asset('bundles/vidalmain/images/cross_red_big.png') }}"/>
        {#{% if random(1) == 0 %}#}
            {#<a href="http://www.vidal.ru/shkola-gastrita?banner-pop-up" target="_blank">#}
                {#<img src="{{ asset('bundles/vidalmain/images/banner-gastrit2.jpg') }}"/>#}
            {#</a>#}
        {#{% else %}#}
            <a href="http://www.vidal.ru/collost?banner-pop-up" target="_blank">
                <img src="{{ asset('bundles/vidalmain/images/banner-popup2.jpeg') }}"/>
            </a>
        {#{% endif %}#}
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
            if (typeof(noBanner)=='undefined' || noBanner != true){
                var popup = getCookie('popupvidal');

                if (popup == undefined) {
                    setCookie('popupvidal', '1', {expires: 28800});
                    $('.gray').fadeIn();
                    $('#popupvidal').fadeIn();
                }

                $('#closepopupvidal').click(function() {
                    $('.gray').fadeOut();
                    $('#popupvidal').fadeOut();
                });
            }
		});
	</script>
{% endif %}