{% extends 'VidalMainBundle::layout.html.twig' %}


{% block menu %}
	{% include 'VidalMainBundle::menu_big.html.twig' %}
{% endblock %}


{% block content %}
	<div class="news">
		<h1>НОВОСТИ</h1>

		{% if isAdmin %}
			{% include 'VidalMainBundle:Index:render_publications_admin.html.twig' %}
		{% else %}
			{% include 'VidalMainBundle:Index:render_publications.html.twig' %}
		{% endif %}
	</div>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/publication.css') }}"/>
{% endblock %}
