{% extends 'VidalMainBundle::layout.html.twig' %}


{% block content %}
	<p><a class="btn-white" href="{{ path('drugs_by_letter') }}">Препараты и БАДы</a>
		<span class="small">по алфавиту. Будет отдельный раздел</span></p>
	<p>На данный момент для тестирования доступны адреса препаратов, веществ, атх и компаний.</p>
	<p>Пример: <a href="{{ path('document', {'EngName':'maalox', 'DocumentID':1607}) }}">Маалокс</a></p>

	<div style="margin-top:40px; font-weight:bold; font-size:20px; color:darkslategray;">
		Страница в находится в разработке
	</div>
{% endblock %}
