{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
    <h1>{{ user }}</h1>
{% endblock %}


{% block content %}
    <table>
        <tr>
            <td>
               <img src="s">
            </td>
        </tr>
    </table>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">

    </style>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
    $(document).ready(function(){
        $('select').chosen({
            disable_search: true,
            no_results_text: "не найдено"
        });

        $('.select').change(function(){
            url = Routing.generate('pharmacies_map', { 'id': $(this).val() });
            window.location.href = url;
        });

    });
    </script>
{% endblock %}