{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
	<h1>Школа гастрита</h1>
{% endblock %}


{% block content %}

{% endblock %}


{% block stylesheets %}
	{{ parent() }}
{% endblock %}


{% block javascripts %}
	{{ parent() }}
{% endblock %}