{% extends 'VidalMainBundle::layout.html.twig' %}


{% block footer %}
	<div class="footer">
		<noindex>
			<div class="footer-info">
				Информация о препаратах, отпускаемых по рецепту, размещенная на сайте, предназначена только для
				специалистов.
				Информация, содержащаяся на сайте, не должна использоваться пациентами для принятия самостоятельного
				решения о применении представленных лекарственных препаратов и не может служить заменой очной
				консультации врача.
			</div>
		</noindex>

		<div class="footer-copyright caption">
			© 2014 «Школа Гастрита» - Справочная информация по язве желудка и гастрите
		</div>

		<img class="footer-logo" src="{{ asset('bundles/vidalmain/images/vidal-group.jpg') }}"/>
	</div>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/shkola_gastrita.css') }}"/>
	<style type="text/css">
		.footer-logo {
			top:   22px;
			right: 42px;
		}
		.footer-info {
			margin:       0;
			max-width:    630px;
			padding-left: 30px;
		}
		.footer-copyright.caption {
			font-weight: bold;
			text-align:  left;
			margin:      24px 30px 0;
		}
	</style>
{% endblock %}