{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
    <h1>ТЕСТИРОВАНИЯ</h1>
{% endblock %}

{% block nav %}
    <div class="breadcrumbs">
        <a href="{{ path('index') }}">Видаль</a>
        <i></i>
        <a href="{{ path('astrazeneca_index') }}">astraZeneca</a>
        <i></i>
        <span>Тестирование</span>
    </div>
{% endblock %}

{% block content %}
    фыва
{% endblock %}