<a class="btn btn-small tag-set" href="{{ path('tag_set', {'tagId':object.id, 'ajax':1}) }}">
	<img src="{{ asset('bundles/sonataadmin/famfamfam/calculator.png') }}"
		 alt="{{ 'action_calculate'|trans({}, 'SonataAdminBundle') }}"/>
</a>