{#<div class="letters-sub">#}
			{#{% for letter in letters %}#}
			{#<div data="{{ letter }}">#}
			{#{% for sub in subs if sub|first == letter and sub|last != '*' %}#}
			{#<input type="submit" value="{{ sub|capitalize }}" name="l" class="letter{{ l == sub ? ' active' }}"/>#}
			{#{% endfor %}#}
			{#</div>#}
			{#{% endfor %}#}
			{#</div>#}

<div class="letters-sub">
<div data="А">
	<input type="submit" value="Аб" name="l" class="letter">
	<input type="submit" value="Ав" name="l" class="letter">
	<input type="submit" value="Аг" name="l" class="letter">
	<input type="submit" value="Ад" name="l" class="letter">
	<input type="submit" value="Ае" name="l" class="letter">
	<input type="submit" value="Аз" name="l" class="letter">
	<input type="submit" value="Аи" name="l" class="letter">
	<input type="submit" value="Ай" name="l" class="letter">
	<input type="submit" value="Ак" name="l" class="letter">
	<input type="submit" value="Ал" name="l" class="letter">
	<input type="submit" value="Ам" name="l" class="letter">
	<input type="submit" value="Ан" name="l" class="letter">
	<input type="submit" value="Ап" name="l" class="letter">
	<input type="submit" value="Ар" name="l" class="letter">
	<input type="submit" value="Ас" name="l" class="letter">
	<input type="submit" value="Ат" name="l" class="letter">
	<input type="submit" value="Ау" name="l" class="letter">
	<input type="submit" value="Аф" name="l" class="letter">
	<input type="submit" value="Ац" name="l" class="letter">
	<input type="submit" value="Аэ" name="l" class="letter">
</div>
<div data="Б">
	<input type="submit" value="Б-" name="l" class="letter">
	<input type="submit" value="Ба" name="l" class="letter">
	<input type="submit" value="Бе" name="l" class="letter">
	<input type="submit" value="Би" name="l" class="letter">
	<input type="submit" value="Бл" name="l" class="letter">
	<input type="submit" value="Бо" name="l" class="letter">
	<input type="submit" value="Бр" name="l" class="letter">
	<input type="submit" value="Бу" name="l" class="letter">
	<input type="submit" value="Бы" name="l" class="letter">
	<input type="submit" value="Бь" name="l" class="letter">
	<input type="submit" value="Бэ" name="l" class="letter">
</div>
<div data="В">
	<input type="submit" value="Ва" name="l" class="letter">
	<input type="submit" value="Вг" name="l" class="letter">
	<input type="submit" value="Ве" name="l" class="letter">
	<input type="submit" value="Ви" name="l" class="letter">
	<input type="submit" value="Во" name="l" class="letter">
	<input type="submit" value="Вп" name="l" class="letter">
	<input type="submit" value="Ву" name="l" class="letter">
</div>
<div data="Г">
	<input type="submit" value="Га" name="l" class="letter">
	<input type="submit" value="Ге" name="l" class="letter">
	<input type="submit" value="Ги" name="l" class="letter">
	<input type="submit" value="Гл" name="l" class="letter">
	<input type="submit" value="Гм" name="l" class="letter">
	<input type="submit" value="Го" name="l" class="letter">
	<input type="submit" value="Гр" name="l" class="letter">
	<input type="submit" value="Гу" name="l" class="letter">
	<input type="submit" value="Гэ" name="l" class="letter">
</div>
<div data="Д">
	<input type="submit" value="Д-" name="l" class="letter">
	<input type="submit" value="Да" name="l" class="letter">
	<input type="submit" value="Дв" name="l" class="letter">
	<input type="submit" value="Дг" name="l" class="letter">
	<input type="submit" value="Де" name="l" class="letter">
	<input type="submit" value="Дж" name="l" class="letter">
	<input type="submit" value="Ди" name="l" class="letter">
	<input type="submit" value="Дл" name="l" class="letter">
	<input type="submit" value="До" name="l" class="letter">
	<input type="submit" value="Др" name="l" class="letter">
	<input type="submit" value="Ду" name="l" class="letter">
	<input type="submit" value="Дю" name="l" class="letter">
	<input type="submit" value="Дя" name="l" class="letter">
</div>
<div data="Е">
	<input type="submit" value="Е-" name="l" class="letter">
	<input type="submit" value="Ев" name="l" class="letter">
	<input type="submit" value="Ек" name="l" class="letter">
	<input type="submit" value="Ем" name="l" class="letter">
</div>
<div data="Ж">
	<input type="submit" value="Жа" name="l" class="letter">
	<input type="submit" value="Же" name="l" class="letter">
	<input type="submit" value="Жи" name="l" class="letter">
	<input type="submit" value="Жо" name="l" class="letter">
</div>
<div data="З">
	<input type="submit" value="За" name="l" class="letter">
	<input type="submit" value="Зв" name="l" class="letter">
	<input type="submit" value="Зд" name="l" class="letter">
	<input type="submit" value="Зе" name="l" class="letter">
	<input type="submit" value="Зи" name="l" class="letter">
	<input type="submit" value="Зо" name="l" class="letter">
	<input type="submit" value="Зу" name="l" class="letter">
</div>
<div data="И">
	<input type="submit" value="И." name="l" class="letter">
	<input type="submit" value="Иб" name="l" class="letter">
	<input type="submit" value="Ив" name="l" class="letter">
	<input type="submit" value="Иг" name="l" class="letter">
	<input type="submit" value="Ид" name="l" class="letter">
	<input type="submit" value="Из" name="l" class="letter">
	<input type="submit" value="Ик" name="l" class="letter">
	<input type="submit" value="Ил" name="l" class="letter">
	<input type="submit" value="Им" name="l" class="letter">
	<input type="submit" value="Ин" name="l" class="letter">
	<input type="submit" value="Ио" name="l" class="letter">
	<input type="submit" value="Ип" name="l" class="letter">
	<input type="submit" value="Ир" name="l" class="letter">
	<input type="submit" value="Ис" name="l" class="letter">
	<input type="submit" value="Ит" name="l" class="letter">
	<input type="submit" value="Иф" name="l" class="letter">
	<input type="submit" value="Их" name="l" class="letter">
</div>
<div data="Й">
	<input type="submit" value="Йо" name="l" class="letter">
</div>
<div data="К">
	<input type="submit" value="Ка" name="l" class="letter">
	<input type="submit" value="Кв" name="l" class="letter">
	<input type="submit" value="Ке" name="l" class="letter">
	<input type="submit" value="Ки" name="l" class="letter">
	<input type="submit" value="Кл" name="l" class="letter">
	<input type="submit" value="Ко" name="l" class="letter">
	<input type="submit" value="Кр" name="l" class="letter">
	<input type="submit" value="Кс" name="l" class="letter">
	<input type="submit" value="Ку" name="l" class="letter">
	<input type="submit" value="Кэ" name="l" class="letter">
</div>
<div data="Л">
	<input type="submit" value="Л-" name="l" class="letter">
	<input type="submit" value="Ла" name="l" class="letter">
	<input type="submit" value="Ле" name="l" class="letter">
	<input type="submit" value="Ли" name="l" class="letter">
	<input type="submit" value="Ло" name="l" class="letter">
	<input type="submit" value="Лу" name="l" class="letter">
	<input type="submit" value="Ль" name="l" class="letter">
	<input type="submit" value="Лю" name="l" class="letter">
	<input type="submit" value="Ля" name="l" class="letter">
</div>
<div data="М">
	<input type="submit" value="М-" name="l" class="letter">
	<input type="submit" value="Ма" name="l" class="letter">
	<input type="submit" value="Ме" name="l" class="letter">
	<input type="submit" value="Ми" name="l" class="letter">
	<input type="submit" value="Мл" name="l" class="letter">
	<input type="submit" value="Мо" name="l" class="letter">
	<input type="submit" value="Мс" name="l" class="letter">
	<input type="submit" value="Му" name="l" class="letter">
	<input type="submit" value="Мэ" name="l" class="letter">
	<input type="submit" value="Мю" name="l" class="letter">
	<input type="submit" value="Мя" name="l" class="letter">
</div>
<div data="Н">
	<input type="submit" value="Н-" name="l" class="letter">
	<input type="submit" value="На" name="l" class="letter">
	<input type="submit" value="Не" name="l" class="letter">
	<input type="submit" value="Ни" name="l" class="letter">
	<input type="submit" value="Но" name="l" class="letter">
	<input type="submit" value="Ну" name="l" class="letter">
	<input type="submit" value="Нь" name="l" class="letter">
</div>
<div data="О">
	<input type="submit" value="Об" name="l" class="letter">
	<input type="submit" value="Ов" name="l" class="letter">
	<input type="submit" value="Од" name="l" class="letter">
	<input type="submit" value="Оз" name="l" class="letter">
	<input type="submit" value="Ок" name="l" class="letter">
	<input type="submit" value="Ол" name="l" class="letter">
	<input type="submit" value="Ом" name="l" class="letter">
	<input type="submit" value="Он" name="l" class="letter">
	<input type="submit" value="Оп" name="l" class="letter">
	<input type="submit" value="Ор" name="l" class="letter">
	<input type="submit" value="Ос" name="l" class="letter">
	<input type="submit" value="От" name="l" class="letter">
	<input type="submit" value="Оф" name="l" class="letter">
	<input type="submit" value="Оц" name="l" class="letter">
	<input type="submit" value="Оч" name="l" class="letter">
</div>
<div data="П">
	<input type="submit" value="П-" name="l" class="letter">
	<input type="submit" value="Па" name="l" class="letter">
	<input type="submit" value="Пе" name="l" class="letter">
	<input type="submit" value="Пи" name="l" class="letter">
	<input type="submit" value="Пк" name="l" class="letter">
	<input type="submit" value="Пл" name="l" class="letter">
	<input type="submit" value="Пн" name="l" class="letter">
	<input type="submit" value="По" name="l" class="letter">
	<input type="submit" value="Пр" name="l" class="letter">
	<input type="submit" value="Пс" name="l" class="letter">
	<input type="submit" value="Пу" name="l" class="letter">
	<input type="submit" value="Пф" name="l" class="letter">
	<input type="submit" value="Пю" name="l" class="letter">
</div>
<div data="Р">
	<input type="submit" value="Р-" name="l" class="letter">
	<input type="submit" value="Ра" name="l" class="letter">
	<input type="submit" value="Ре" name="l" class="letter">
	<input type="submit" value="Ри" name="l" class="letter">
	<input type="submit" value="Ро" name="l" class="letter">
	<input type="submit" value="Ру" name="l" class="letter">
	<input type="submit" value="Ры" name="l" class="letter">
	<input type="submit" value="Рэ" name="l" class="letter">
	<input type="submit" value="Ря" name="l" class="letter">
</div>
<div data="С">
	<input type="submit" value="Са" name="l" class="letter">
	<input type="submit" value="Сб" name="l" class="letter">
	<input type="submit" value="Св" name="l" class="letter">
	<input type="submit" value="Се" name="l" class="letter">
	<input type="submit" value="Си" name="l" class="letter">
	<input type="submit" value="Ск" name="l" class="letter">
	<input type="submit" value="Сл" name="l" class="letter">
	<input type="submit" value="См" name="l" class="letter">
	<input type="submit" value="Сн" name="l" class="letter">
	<input type="submit" value="Со" name="l" class="letter">
	<input type="submit" value="Сп" name="l" class="letter">
	<input type="submit" value="Ср" name="l" class="letter">
	<input type="submit" value="Ст" name="l" class="letter">
	<input type="submit" value="Су" name="l" class="letter">
	<input type="submit" value="Сы" name="l" class="letter">
</div>
<div data="Т">
	<input type="submit" value="Та" name="l" class="letter">
	<input type="submit" value="Тв" name="l" class="letter">
	<input type="submit" value="Те" name="l" class="letter">
	<input type="submit" value="Ти" name="l" class="letter">
	<input type="submit" value="Тм" name="l" class="letter">
	<input type="submit" value="То" name="l" class="letter">
	<input type="submit" value="Тр" name="l" class="letter">
	<input type="submit" value="Ту" name="l" class="letter">
	<input type="submit" value="Ты" name="l" class="letter">
	<input type="submit" value="Тэ" name="l" class="letter">
</div>
<div data="У">
	<input type="submit" value="Уб" name="l" class="letter">
	<input type="submit" value="Уг" name="l" class="letter">
	<input type="submit" value="Уз" name="l" class="letter">
	<input type="submit" value="Ук" name="l" class="letter">
	<input type="submit" value="Ул" name="l" class="letter">
	<input type="submit" value="Ум" name="l" class="letter">
	<input type="submit" value="Ун" name="l" class="letter">
	<input type="submit" value="Уп" name="l" class="letter">
	<input type="submit" value="Ур" name="l" class="letter">
	<input type="submit" value="Ус" name="l" class="letter">
	<input type="submit" value="Ут" name="l" class="letter">
	<input type="submit" value="Уф" name="l" class="letter">
</div>
<div data="Ф">
	<input type="submit" value="Фа" name="l" class="letter">
	<input type="submit" value="Фе" name="l" class="letter">
	<input type="submit" value="Фи" name="l" class="letter">
	<input type="submit" value="Фл" name="l" class="letter">
	<input type="submit" value="Фо" name="l" class="letter">
	<input type="submit" value="Фр" name="l" class="letter">
	<input type="submit" value="Фс" name="l" class="letter">
	<input type="submit" value="Фт" name="l" class="letter">
	<input type="submit" value="Фу" name="l" class="letter">
	<input type="submit" value="Фэ" name="l" class="letter">
</div>
<div data="Х">
	<input type="submit" value="Ха" name="l" class="letter">
	<input type="submit" value="Хв" name="l" class="letter">
	<input type="submit" value="Хе" name="l" class="letter">
	<input type="submit" value="Хи" name="l" class="letter">
	<input type="submit" value="Хл" name="l" class="letter">
	<input type="submit" value="Хм" name="l" class="letter">
	<input type="submit" value="Хо" name="l" class="letter">
	<input type="submit" value="Ху" name="l" class="letter">
</div>
<div data="Ц">
	<input type="submit" value="Це" name="l" class="letter">
	<input type="submit" value="Ци" name="l" class="letter">
	<input type="submit" value="Цф" name="l" class="letter">
</div>
<div data="Ч">
	<input type="submit" value="Ча" name="l" class="letter">
	<input type="submit" value="Че" name="l" class="letter">
	<input type="submit" value="Чи" name="l" class="letter">
</div>
<div data="Ш">
	<input type="submit" value="Ша" name="l" class="letter">
	<input type="submit" value="Шв" name="l" class="letter">
	<input type="submit" value="Ши" name="l" class="letter">
	<input type="submit" value="Шу" name="l" class="letter">
</div>
<div data="Э">
	<input type="submit" value="Эб" name="l" class="letter">
	<input type="submit" value="Эв" name="l" class="letter">
	<input type="submit" value="Эг" name="l" class="letter">
	<input type="submit" value="Эд" name="l" class="letter">
	<input type="submit" value="Эз" name="l" class="letter">
	<input type="submit" value="Эй" name="l" class="letter">
	<input type="submit" value="Эк" name="l" class="letter">
	<input type="submit" value="Эл" name="l" class="letter">
	<input type="submit" value="Эм" name="l" class="letter">
	<input type="submit" value="Эн" name="l" class="letter">
	<input type="submit" value="Эп" name="l" class="letter">
	<input type="submit" value="Эр" name="l" class="letter">
	<input type="submit" value="Эс" name="l" class="letter">
	<input type="submit" value="Эт" name="l" class="letter">
	<input type="submit" value="Эу" name="l" class="letter">
	<input type="submit" value="Эф" name="l" class="letter">
	<input type="submit" value="Эх" name="l" class="letter">
</div>
<div data="Ю">
	<input type="submit" value="Юм" name="l" class="letter">
	<input type="submit" value="Юн" name="l" class="letter">
</div>
<div data="Я">
	<input type="submit" value="Яд" name="l" class="letter">
	<input type="submit" value="Як" name="l" class="letter">
	<input type="submit" value="Ян" name="l" class="letter">
	<input type="submit" value="Яр" name="l" class="letter">
	<input type="submit" value="Яс" name="l" class="letter">
</div>
</div>