{% for atc in atcGrouped %}
	<li data="{{ atc.ATCCode }}">
		<span>{{ atc.ATCCode }}</span>
		<i><a href="#">{{ atc.RusName|raw }}</a></i>
		{% if atc.list is not empty %}
			<ul>
				{% include 'VidalDrugBundle:Search:tree_atc_render.html.twig' with {'atcGrouped':atc.list} %}
			</ul>
		{% endif %}
	</li>
{% endfor %}