body{min-width:770px;_width:expression( document.getElementsByTagName('html')[0].offsetWidth<934 ? '920px' : '100%' )}
body, form, p, h2{margin:0px; padding:0px}
table{font-size:100%}
img{border:0}

.block_width{width:100%; clear:both; overflow:hidden; }
.block_width .block_left{width:50%; float:left}
.block_width .block_right{width:50%; float:left; //margin-right:-100%}
.block_width .alt_width1{width:65% !important}
.block_width .alt_width2{width:35% !important}

.logotype{position:absolute; top:50px; left:37px}
.logotype img{border:none}

.top_menu{padding:6px 0px 6px 30px; font-size:70%}
.top_menu a{padding:0px 7px 0px 7px; text-decoration:none; color:white}
.top_menu span{width:2px; height:11px}

.colums{width:100%; clear:both; overflow-x:hidden}
.colums .column_left{width:25%; float:left}
.colums .column_center{width:50%; float:left}
.colums .column_right{width:25%; float:left; //margin-right:-100%}

.empty_top{height:100px}/*;_width:100%;_padding-right:10px}*/

.header_block{padding-left:25px}
.header_content{padding-bottom:30px; padding-right:25px; height:170px; font-size:70%; color:white}
.header_content .p1{padding-top:100px; line-height:140%}
.header_content .p2, .relative_block .p2{margin-top:10px}
.header_content .p2 img, .relative_block .p2 img{position:relative; top:3px; left:10px; border:none}
.header_content .p2 a{color:#DBE21B}

.column_right_padding{width:80% !important; margin-top:-70px}
.column_right_padding h2{font-size:110%; font-weight:normal}
.column_left_padding{margin:20px 10px 30px 37px}
.column_left_padding h2{font-size:110%; font-weight:normal}

.relative_block{color:white; padding:15px 15px 20px 15px; font-size:70%; margin-bottom:10px}
.relative_block .nc_row{margin-top:20px}
.relative_block .nc_row h2{font-weight:bold; margin-bottom:2px}
.relative_block .nc_row .nc_datetime{font-size:90%; margin-top:4px}
.relative_block a{color:#DBE21B}

.shop_block{font-size:70%;margin-bottom:10px; background:#F2F2F2 url('../i/layer/shop.gif') no-repeat right top; padding:15px 15px 20px 25px}
.shop_block p{margin-top:10px}
.shop_block .shop_submit{margin-top:10px; font-size:80%; padding:3px 20px 3px 20px}

.type_block{padding:12px 10px 12px 10px; font-size:70%; border:1px solid #E7E7E7; margin-bottom:10px}
.type_block h2{padding-bottom:5px;margin-bottom:5px}
.type_block p{margin-top:10px}
.type_block .form_mail{margin-top:10px; width:100%; padding-left:3px}
.type_block .form_mail{border:1px solid #E7E7E7}
.type_block .form_submit{margin-top:10px; font-size:80%; padding:3px 20px 3px 20px}

.banner{width:100%; clear:both; overflow-x:hidden; margin-bottom:10px}
.banner .banner_image{float:left; margin-right:18px; margin-top:30px}
.banner .banner_caption{float:left; font-size:90%; margin-top:30px; color:white; //margin-right:-100%; }

.backlayer{background:white}
.footer{height:180px; overflow:hidden; position:relative; top:-70px}
.copyright{position:relative; top:70px; padding:30px 10px 0px 37px; font-size:70%; color:#606060; background:#F2F2F2 url('../i/layer/left_bottom_bg.gif') no-repeat right top}
.counters{position:relative; top:70px; left:-10px; padding:30px 0px 0px 20px; background:#F2F2F2 url('../i/layer/right_bottom_bg.gif') no-repeat left top}
.adress{position:relative; height:9999px; background:#F2F2F2; margin-right:10px; font-size:70%; padding:20px 0px 0px 20px}
.adress .nc_item{width:55% !important; clear:both; overflow-x:hidden; }
.adress .nc_title{width:30% !important; float:left}
.adress .nc_value{width:70% !important; float:left; //margin-right:-100%}
.adress .nc_description{margin-top:10px}
.page_view .copyright{right:-40px; padding-left:0px !important}
.page_view .adress{left:40px; }
.page_view .counters{left:30px !important}

.okakake{float:right; padding:5px; background:#E7E7E7}
.okakake .img_label{text-align:center; font-size:75%; margin-top:5px}

.search_block{padding:10px 15px 15px 25px}
.search_block .search_caption{font-size:70%; color:white}
.search_block .search_text{width:100%; position:relative; top:8px}
.search_block .search_submit{font-size:60%; padding:3px 20px 3px 20px; margin-top:6px; margin-left:10px}
.search_on_page{margin-right:50px; padding-top:48px; margin-top:-73px; margin-left:25%}

.main_content{margin-bottom:80px}
.main_content .main_block{padding:10px 10px 10px 0px}
.main_content .main_block p{margin-top:10px}
.main_content .type_block h2{font-weight:normal}
.content_top_block{line-height:135%; font-size:70%; background:#F2F2F2; padding-bottom:10px; padding-right:10px; margin-bottom:10px}
.content_top_block .block_column{margin:10px 0px 0px 10px; background:white; padding:15px}
.main_content .type_block{line-height:140%}
.main_content h2{font-size:110%}
.main_content .view_page{margin-left:40px; margin-top:40px; color:#606060}
.main_content .view_page h2{font-weight:normal; font-size:140%}
.view_page{margin-right:40px}

.view_page .sub_menu{clear:both; margin-bottom:10px; width:100%; overflow-x:hidden}
.view_page .sub_menu a{text-decoration:none; display:block; padding:4px 15px 4px 15px; font-size:60%; margin-right:10px; float:left; border:1px solid #E7E7E7; font-weight:bold; margin-top:10px}
.view_page .sub_menu .active{color:white}
.view_page .sub_menu2{clear:both; width:100%; overflow-x:hidden; padding-top:5px}
.view_page .sub_menu2 a, .view_page .sub_menu2 span{padding:2px 20px 5px 0px; font-size:70%; display:block; float:left; }
.view_page .sub_menu2 a{margin-right:5px; background:transparent url('../i/layer/menu_arrow.gif') no-repeat right center}
.view_page .page_content{clear:both; color:#000; font-size:70%; margin-top:15px}
.view_page .page_content p{margin-top:15px}

.main_menu .item{border-bottom:1px solid #E7E7E7; padding-right:10px; font-size:70%; }
.main_menu a, .main_menu b{display:block; padding:10px 25px 10px 0px; font-weight:bold; background:transparent url('../i/layer/menu_arrow.gif') no-repeat right center}
.main_menu .hidden_item{height:30px; position:relative; top:-1px; background:white}

.auth_block{margin-bottom:10px; padding:12px 0px 12px 0px; border:1px solid #E7E7E7; background:#F2F2F2; font-size:80%}
.auth_block .auth_header{margin-bottom:10px}
.auth_block .auth_label{font-size:85%}
.auth_block .auth_text{border:1px solid #E7E7E7; margin:5px 0px 8px 0px; width:100%; padding-left:5px}
.auth_block .auth_submit{font-size:90%; padding:3px 20px 3px 20px}
.auth_block form{margin:0px 10px 0px 10px}



.nc_title table{font-size:100%}






/*----------------------------------------------------------------*/
/*   component styles   */
/*----------------------------------------------------------------*/

.nc_row_img{margin:3px 7px 7px 0;padding:3px;border:1px solid #E7E7E7}
.nc_title .nc_announce{clear:left}
.nc_title .nc_row_img{float:none !important}
.nc_title p{margin-top:3px}
.nc_list table{width:100%}
.nc_title .nc_clients td, .nc_title .nc_photogallery td{text-align:center}
.nc_full h4, .nc_full h5{margin:0; font-size:110%}
.nc_list h4, .nc_list h5{margin:0; font-size:100%}
.nc_full h2{font-size:130%; font-weight:bold !important; margin:0 0 5px 0}
.nc_list h3{font-size:110%;margin-bottom:3px !important}
.nc_list .nc_group{font-size:110%; padding:15px 0 7px}

.nc_title .nc_adaptive_catalog .nc_row{padding-left:3%;padding-top:20px}
.nc_title .nc_adaptive_catalog h3{padding-left:20px}
.nc_title .nc_adaptive_catalog .nc_row_img{float:left !important;border:none}
.nc_title .nc_vacancies .nc_item, .nc_title .nc_vacancies h3{display:inline;padding-right:5px}
.nc_resume .nc_price{margin:5px 0}
.nc_guestbook .nc_datetime{margin-top:3px}
.nc_price_list .column_2{width:200px}
.nc_price_list td{padding-right:9px}
.nc_resume .nc_item .nc_value, .nc_vacancies .nc_item .nc_value{font-weight:normal}
.nc_resume .nc_title, .nc_vacancies .nc_title{font-weight:bold}
.nc_resume .nc_row h3{font-size:125%}
.nc_list.nc_work_comments .nc_description{margin-top:5px}
.nc_mail_from_site input, .nc_mail_from_site .nc_description{margin-bottom:5px}


h3{font-weight:bold}
.nc_a{background:#F4F4F4}
.nc_list td{padding:1px 3px;vertical-align:top}
.nc_list table, .nc_full table{border:0; border-collapse:collapse}
.nc_list .nc_group{font-size:110%; padding:15px 0 7px}
.nc_price .nc_value{font-size:120%}
.nc_price .nc_value , .nc_price_list .nc_item{white-space:nowrap}
.nc_full h4, .nc_full h5{margin:0; font-size:110%}
.nc_list h4, .nc_list h5{margin:0; font-size:100%}
.nc_full h2{font-size:130%; margin:0 0 5px 0}
tr.nc_row td{padding-bottom:12px}
.nc_list table{width:100%}
.nc_icon{vertical-align:middle; padding-bottom:3px}
.nc_author, .nc_value{font-weight:bold}
.nc_message{margin:5px 0}
.nc_answer{color:#666; margin-bottom:10px}
.nc_list h3{font-size:110%; margin:0 0 5px 0}
.nc_comments_count, .nc_author{display:inline; padding-right:10px}
.nc_list .nc_row{padding-bottom:20px}
.nc_announce, .nc_settings_section{margin-bottom:7px !important}
.nc_full_text, .nc_search{margin-bottom:10px}
.nc_comments{margin-top:30px}
.nc_current{color:#FFF;text-decoration:none;background:#2E353B}
.nc_img_selector a{display:block;float:left;padding:1px 5px;margin:0 1px;border:1px solid #383F47}
.nc_selected_tag{font-weight:bold}


.nc_title h3{margin:0 0 3px 0}
.nc_title .nc_row{padding-bottom:15px}
.nc_title .nc_clients td, .nc_title .nc_photogallery td{text-align:center}

.nc_blog_warn_text {margin:0 0 10px; color:#CC0000; font-weight:bold}
.nc_blog_description {margin:7px 0; color:#777777; font-size:110%}
.nc_blog_info {margin:7px 0; color:#777777; font-size:100%; font-weight:bold}
.nc_blog_info_elm {padding:0 10px 0 0;}
.nc_ignore_button {margin:7px 0;}
.nc_tags {margin:0 0 5px;}
.nc_blog_editsection {margin:7px 0;}
.nc_add_message_button {margin:0 0 7px;}
.nc_settings_section {padding:0 0 14px;}
.nc_join_button {margin:7px 0;}
.nc_blog_list {margin:0 0 10px; font-size:130%; font-weight:bold}

.nc_blog_edit_table {margin:0 0 10px; width:100%}
.nc_blog_edit_header {background:#EEEEEE; font-weight:bold}
.nc_blog_edit_field {background:#F9F9F9;}
.nc_blog_edit_info{background:#F9F9F9; padding:5px 10px 5px 5px}
.nc_blog_edit_table input, textarea{width:100%;}
.nc_blog_edit_table select{width:50%;}

/* BBcodes bar & in text BBcodes */
select.nc_bbcode_bar_size {margin-bottom:5px; width:100px;}
img.nc_bbcode_wicon {border:0; width:27px; height:20px;}
img.nc_bbcode_icon {border:0; width:20px; height:20px;}
div.nc_bbcode_error {padding:3px 0; color:#AA0000; font-weight:bold}
input.nc_bbcode_helpbox {margin:0 0 3px; padding:2px 0; width:100%; font-size:10px; font-family:Verdana,Arial; background:none; border:0;}
div.nc_bbcode_colors {position:absolute; background:#FFFFFF; padding:3px; border:solid 1px #AAAAAA;}
div.nc_bbcode_color_top {white-space:nowrap;}
div.nc_bbcode_color {padding-top:2px; white-space:nowrap;}
input.nc_bbcode_color {padding:0px; cursor:pointer; height:20px; width:20px; border:0px;}
input.nc_bbcode_color_white {padding:0px; cursor:pointer; height:20px; width:20px; border:1px solid #AAAAAA;}
div.nc_bbcode_smiles {position:absolute; background:#FFFFFF; padding:3px; border:solid 1px #AAAAAA;}
div.nc_bbcode_smile_top {white-space:nowrap;}
div.nc_bbcode_smile {padding-top:2px; white-space:nowrap;}
input.nc_bbcode_smile {padding:0px; cursor:pointer; height:22px; width:22px; border:0px;}
img.nc_bbcode_smile_in_text {margin:0 0 -3px 0;}
/* BBcodes in text */
div.nc_bbcode_quote_1_top {margin:0px 25px 0px 25px;}
div.nc_bbcode_quote_1 {padding:20px; border:1px solid #CCCCCC; background:#FFFFFF;}
div.nc_bbcode_quote_2_top {margin:0px 25px 0px 25px;}
div.nc_bbcode_quote_2 {padding:20px; border:1px solid #CCCCCC; background:#FFFFFF;}
div.nc_bbcode_code {margin:10px 25px 10px 25px;}
span.nc_bbcode_list_closed {margin-left:1em; text-indent:-.65em; display:block;}
div.nc_bbcode_list {margin-left:1em; text-indent:-.65em;}
span.nc_bbcode_color {}
span.nc_bbcode_size {}
a.nc_bbcode_url_1 {}
a.nc_bbcode_url_2 {}
img.nc_bbcode_img {}
span.nc_bbcode_s {}
a.nc_bbcode_cut_link {}
/*END   component styles   */