{% extends 'VidalMainBundle::layout.html.twig' %}

{% block content %}
    <h1>Корзина - оформить заказ</h1>

    {{ form_widget(form) }}


{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}