{% extends 'VidalMainBundle::layout.html.twig' %}

{% block content %}
    <h1>Корзина - оформить заказ</h1>
    <form method="POST">
        {{ form_widget(form) }}
    </form>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}