<br />
<div class="market-block" id="market-block">
    <div class="market-title">Интернет аптека «Eapteka.ru»:</div>
    <table>
        <tr>
            <td class="market-organization">Татхимфармпрепараты</td>
            <td><b>Анальгин</b> таблетки 500 мг, 10</td>
            <td class="market-price">22.0 р.</td>
            <td class="market-basket"><a href="{{ path('') }}" data-id="100" data-group="eapteka">В корзину</a></td>
        </tr>
        <tr>
            <td class="market-organization">Татхимфармпрепараты</td>
            <td><b>Анальгин</b> таблетки 500 мг, 10</td>
            <td class="market-price">22.0 р.</td>
            <td class="market-basket"><a href="#" data-id="100" data-group="eapteka">В корзину</a></td>
        </tr>
        <tr>
            <td class="market-organization">Татхимфармпрепараты</td>
            <td><b>Анальгин</b> таблетки 500 мг, 10</td>
            <td class="market-price">22.0 р.</td>
            <td class="market-basket"><a href="#" data-id="100" data-group="eapteka">В корзину</a></td>
        </tr>
        <tr>
            <td class="market-basket"><a href="#" data-id="100" data-group="eapteka">В корзину</a></td>
            <td><b>Анальгин</b> таблетки 500 мг, 10</td>
            <td class="market-price">22.0 р.</td>
            <td class="market-basket"><a href="#">В корзину</a></td>
        </tr>
        <tr>
            <td class="market-organization">Татхимфармпрепараты</td>
            <td><b>Анальгин</b> таблетки 500 мг, 10</td>
            <td class="market-price">22.0 р.</td>
            <td class="market-basket"><a href="#">В корзину</a></td>
        </tr>
        <tr>
            <td class="market-organization">Татхимфармпрепараты</td>
            <td><b>Анальгин</b> таблетки 500 мг, 10</td>
            <td class="market-price">22.0 р.</td>
            <td class="market-basket"><a href="#">В корзину</a></td>
        </tr>
        <tr>
            <td class="market-organization">Татхимфармпрепараты</td>
            <td><b>Анальгин</b> таблетки 500 мг, 10</td>
            <td class="market-price">22.0 р.</td>
            <td class="market-basket"><a href="#">В корзину</a></td>
        </tr>
        <tr>
            <td class="market-organization">Татхимфармпрепараты</td>
            <td><b>Анальгин</b> таблетки 500 мг, 10</td>
            <td class="market-price">22.0 р.</td>
            <td class="market-basket"><a href="#">В корзину</a></td>
        </tr>
        <tr>
            <td class="market-organization">Татхимфармпрепараты</td>
            <td><b>Анальгин</b> таблетки 500 мг, 10</td>
            <td class="market-price">22.0 р.</td>
            <td class="market-basket"><a href="#">В корзину</a></td>
        </tr>
    </table>
    <div class="market-title">Интернет аптека «Piluli.ru»:</div>
    <table>
        <tr>
            <td class="market-organization">Татхимфармпрепараты</td>
            <td><b>Анальгин</b> таблетки 500 мг, 10</td>
            <td class="market-price">22.0 р.</td>
            <td class="market-basket"><a href="#" data-id="120" data-group="piluli">В корзину</a></td>
        </tr>
        <tr>
            <td class="market-organization">Татхимфармпрепараты</td>
            <td><b>Анальгин</b> таблетки 500 мг, 10</td>
            <td class="market-price">22.0 р.</td>
            <td class="market-basket"><a href="#" data-id="120" data-group="piluli">В корзину</a></td>
        </tr>
        <tr>
            <td class="market-organization">Татхимфармпрепараты</td>
            <td><b>Анальгин</b> таблетки 500 мг, 10</td>
            <td class="market-price">22.0 р.</td>
            <td class="market-basket"><a href="#" data-id="120" data-group="piluli">В корзину</a></td>
        </tr>
    </table>
    <div class="market-title">Интернет аптека «Piluli.ru»:</div>
    <table>
        <tr>
            <td class="market-organization">Татхимфармпрепараты</td>
            <td><b>Анальгин</b> таблетки 500 мг, 10</td>
            <td class="market-price">22.0 р.</td>
            <td class="market-basket"><a href="#">В корзину</a></td>
        </tr>
        <tr>
            <td class="market-organization">Татхимфармпрепараты</td>
            <td><b>Анальгин</b> таблетки 500 мг, 10</td>
            <td class="market-price">22.0 р.</td>
            <td class="market-basket"><a href="#">В корзину</a></td>
        </tr>
        <tr>
            <td class="market-organization">Татхимфармпрепараты</td>
            <td><b>Анальгин</b> таблетки 500 мг, 10</td>
            <td class="market-price">22.0 р.</td>
            <td class="market-basket"><a href="#">В корзину</a></td>
        </tr>
    </table>
</div>
