{% extends 'VidalMainBundle::layout.html.twig' %}

{% block content %}
    <h1>ЗАКАЗ УСПЕШНО ОФОРМЛЕН</h1>

    Ваш заказ принят! <br />
    В ближайшее время с Вами свяжутся для подтверждения заказа. <br />
    <br />
    Спасибо!

{% endblock %}