{% extends 'VidalMainBundle::layout.html.twig' %}

{% block content %}
    <h1>ЗАКАЗ УСПЕШНО ОФОРМЛЕН</h1>

    <iframe src="{{ url }}" frameborder="0" width="500" height="600" scrolling="no"></iframe>

{% endblock %}