<div class="block">
	<div class="block-head atc-tree">
		Список кодов АТХ
		<a id="atc_collapse" href="#" class="no-underline">свернуть</a>
		<a id="atc_expand" href="#" class="no-underline">развернуть</a>
	</div>
	{% include 'VidalMainBundle:Search:tree_atc_generated.html.twig' %}
</div>

<script src="{{ asset('bundles/vidalmain/javascripts/jquery.cookie.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/vidalmain/treeview/jquery.treeview.js') }}" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {
		var $tree = $('#tree_atc');

		$tree.treeview({
			animated:  "fast",
			collapsed: true,
			toggle:    false,
			persist:   "cookie",
			cookieId:  "tree_atc"
		});

		{# Для дерева кодов АТС нужно раскрыть узлы найденных #}
		{% for code, atc in atcCodes %}
		$tree.find('li[data="' + '{{ code }}' + '"]').addClass('selected').parents('ul').each(function(index, element) {
			var $ul = $(element).show();
			var $li = $ul.parent('li');
			var $div = $li.children('div.hitarea');
			if ($li.hasClass('expandable')) {
				$li.removeClass('expandable').addClass('collapsable');
			}
			else if ($li.hasClass('lastExpandable')) {
				$li.removeClass('lastExpandable').addClass('lastCollapsable');
			}
			if ($div.hasClass('expandable-hitarea')) {
				$div.removeClass('expandable-hitarea').addClass('collapsable-hitarea');
			}
			else if ($div.hasClass('lastExpandable-hitarea')) {
				$div.removeClass('lastExpandable-hitarea').addClass('lastCollapsable-hitarea');
			}
		});
		{% endfor %}

		$("#atc_expand").click(function() {
			$tree.find('ul').show();
			$tree.find('div.expandable-hitarea').removeClass('expandable-hitarea').addClass('collapsable-hitarea');
			$tree.find('div.lastExpandable-hitarea').removeClass('lastExpandable-hitarea').addClass('lastCollapsable-hitarea');
			$tree.find('li.expandable').removeClass('expandable').addClass('collapsable');
			$tree.find('li.lastExpandable').removeClass('lastExpandable').addClass('lastCollapsable');
			return false;
		});

		$('#atc_collapse').click(function() {
			var $tree = $('#tree_atc');
			$tree.find('ul').hide();
			$tree.find('div.collapsable-hitarea').removeClass('collapsable-hitarea').addClass('expandable-hitarea');
			$tree.find('div.lastCollapsable-hitarea').removeClass('lastCollapsable-hitarea').addClass('lastExpandable-hitarea');
			$tree.find('li.collapsable').removeClass('collapsable').addClass('expandable');
			$tree.find('li.lastCollapsable').removeClass('lastCollapsable').addClass('lastExpandable');
			return false;
		});

		$tree.find('i > a').click(function() {
			location.href = Routing.generate('atc', {'ATCCode': $(this).closest('li').attr('data')});
			return false;
		});
	});
</script>