<div class="closed-info">
	<span>Информация доступна только врачам.</span>
	<a class="login-popup no-underline" href="#">Войдите</a> или
	<a href="{{ path('registration') }}" class="no-underline">Зарегистрируйтесь</a>
</div>