<form id="auth_form" action="{{ path("ajax_login") }}" method="POST">
	<div class="auth-info raspberry">Вход для специалистов</div>

	<div class="auth-username">
		<label for="username" class="form_label">Логин/e-mail:</label>
		<input type="text" id="username" name="username"/>
	</div>

	<div class="auth-password">
		<label for="password" class="form_label">Пароль:</label>
		<input type="password" id="password" name="password"/>
	</div>

	<div class="auth-submit">
		{#<a href="{{ path('password_reset') }}" title="Сбросить пароль">Забыли пароль?</a>#}
		<a class="submit btn-red" href="#">Войти</a>
	</div>

	<div class="auth-fail-message red">Неверный логин<br/> или пароль</div>
</form>

<script type="text/javascript">
	$(document).ready(function() {
		$('#username').bind('keypress', function(e) {
			if(e.keyCode==13){
				$('#password').focus();
			}
		});

		$('#password').bind('keypress', function(e) {
			if(e.keyCode==13){
				ajaxLogin();
			}
		});

		$('.auth a.submit').click(function(e) {
			e.preventDefault();
			ajaxLogin();
		});
	});

	function ajaxLogin()
	{
		$.post(Routing.generate('ajax_login'), $('#auth_form').serialize(), function(data) {
			data['success'] == 'yes'
				? location.reload()
				: $('.auth-main .auth-fail-message').fadeOut('fast').fadeIn('fast');
		});
	}
</script>