{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
	<h1>ВОССТАНОВЛЕНИЕ ПАРОЛЯ</h1>
{% endblock %}


{% block content %}
	<div>
		{% if sent is defined %}
			<p>Вам на почту выслано письмо для подтверждения сброса пароля.<br/>
				Чтобы сбросить пароль проверьте почту и пройдите по ссылке, указанной в письме.</p>
		{% else %}
			<form id="password_reset_form" action="{{ path('password_reset') }}" method="post" {{ form_enctype(form) }}>
				{{ form_widget(form) }}
				
				<button type="submit" class="btn-red">Сбросить пароль</button>
			</form>
		{% endif %}
	</div>
{% endblock %}
