{% extends layout | default('EvrikaMainBundle::limited_layout.html.twig') %}


{% block title %}
	<h1>Пароль сброшен</h1>
{% endblock %}


{% block body %}
	<div class="inform">
		<p>Вы успешно сбросили пароль и вошли на сайт. На почту отправлен ваш новый пароль.<br/>
			Рекомендуем вам сменить пароль на такой, который не забудется в
			<a href="#">своем профиле</a>.</p>

		<p>Новый пароль: <span class="newPassword">{{ user.password }}</span></p>
	</div>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.inform {
			margin:    30px 0;
			font-size: 14px;
		}
		.newPassword {
			color:          maroon;
			font-weight:    bold;
			font-size:      18px;
			letter-spacing: 1px;
			margin-left:    10px;
		}
	</style>
{% endblock %}
